<template data-sly-template.c01general="${@ card, layout, hideDescription, tagLine, title,type}"
          data-sly-use.favButton="/apps/sauditourism/components/content/templates/atoms/ctas/cta-07-favorite.html"
          data-sly-use.imageTemplate="/apps/sauditourism/components/content/templates/general/picture.html"
          data-sly-use.ornaments02BarsTemplate="/apps/sauditourism/components/content/templates/atoms/ornaments/ornaments-02-bars.html"
          data-sly-use.cta02Link="/apps/sauditourism/components/content/templates/atoms/ctas/cta-02-link.html"
          data-sly-use.taglineG01SimpleTemplate="/apps/sauditourism/components/content/templates/molecules/tagline-groups/tagline-g-01-simple.html"
          data-sly-use.taglineG02FeaturedTemplate="/apps/sauditourism/components/content/templates/molecules/tagline-groups/tagline-g-02-featured.html">

    <div data-component="c-01-general" data-sly-set.link="${card.link}"
     class="layout-${layout}${card.isFeatured ? ' featured' : ''}${card.description ? '' : ' without-description'} ${link.url ? '' : 'cursor-default'}">
    <div class="image-wrapper">
        <div class="favorite-button-wrapper" data-sly-test="${link.url && !card.hideFav}">
            <sly data-sly-call="${favButton.fav @ path=link.urlSlingExporter, variant='white', title=title, cardtitle=card.title}"></sly>
        </div>
        <sly data-sly-test="${link.url}">
        <a href="${link.url}" class="image-link" data-sly-attribute.target="${link.targetInNewWindow ? '_blank' : '_self'}"
           data-sly-set.class="${link.urlSlingExporter && !card.hideFav ? 'with-favorite-button' : (card.simpleLabelList ? '' : 'without-favorite-label-button')}"
           data-sly-attribute.rel="${link.targetInNewWindow ? 'noopener noreferrer' : ''}">
            <sly data-sly-call="${imageTemplate.pictureObj @ imageDesktop=card.image.s7fileReference||
                                card.image.fileReference, altText=link.copy,imageMobile=card.image.mobileImageReference || card.image.s7mobileImageReference, simpleLabelList=card
                                .simpleLabelList, componentType='c-01', tagLine=tagLine,
                                extraClass=class}"></sly>
        </a>
        </sly>
        <sly data-sly-test="${!link.url}">
                <sly data-sly-call="${imageTemplate.pictureObj @ imageDesktop=card.image.s7fileReference||
                                card.image.fileReference, altText=link.copy,imageMobile=card.image.mobileImageReference || card.image.s7mobileImageReference, simpleLabelList=card
                                .simpleLabelList, componentType='c-01', tagLine=tagLine,
                                extraClass=class}"></sly>
        </sly>
    </div>
    <sly data-sly-test="${link.url}">
    <a href="${link.url}" class="content-wrapper"
       data-sly-attribute.target="${link.targetInNewWindow ? '_blank' : '_self'}"
       data-sly-attribute.rel="${link.targetInNewWindow ? 'noopener noreferrer' : ''}">
        <sly data-sly-test="${card.highlightOrnamentId}">
            <div class="ornament-wrapper" data-sly-test="${layout == 'highlight'}">
                <sly data-sly-call="${ornaments02BarsTemplate.ornaments02Bars @ orientation='horizontal',
                 patternDefault=(card.highlightOrnamentId)}"></sly>
            </div>
        </sly>
        <div class="info-wrapper">
            <div class="inner-wrapper">
                <div class="tagline-wrapper">
                    <sly data-sly-test="${card.featuredTagLineFeaturedCopy}"
                         data-sly-call="${taglineG02FeaturedTemplate.taglineG02Featured @ card=card}">
                    </sly>
                    <sly data-sly-test="${!card.featuredTagLineFeaturedCopy && card
                    .simpleTagLinesList}"
                         data-sly-call="${taglineG01SimpleTemplate.taglineG01Simple @ card=card}">
                    </sly>
                </div>
                <h5 class="title">${card.title}</h5>
                <sly data-sly-test="${card.description && !hideDescription}">
                    <div class="description copy">${card.description @ context='html'}</div>
                </sly>
            </div>
        </div>
        <sly data-sly-test="${link.copy}">
        <div class="cta-wrapper">
            <sly data-sly-set.backgroundFeatured="${card.isFeatured ? 'image' : ''}"
                 data-sly-call="${cta02Link.ctaLink @ copy=link.copy, analyticsDataCopy=link.analyticsDataCopy,
                 background=backgroundFeatured, title=title, cardtitle=card.title,type=type}"></sly>
        </div>
        </sly>
    </a>
</sly>
    <sly data-sly-test="${!link.copy && !link.url || link.copy && !link.url}">
        <div class="content-wrapper">
        <div class="ornament-wrapper" data-sly-test="${layout == 'highlight'}">
            <sly data-sly-call="${ornaments02BarsTemplate.ornaments02Bars @ orientation='horizontal',
             patternDefault=(card.highlightOrnamentId || '01')}"></sly>
        </div>
        <div class="info-wrapper">
            <div class="inner-wrapper">
                <div class="tagline-wrapper">
                    <sly data-sly-test="${card.featuredTagLineFeaturedCopy}"
                         data-sly-call="${taglineG02FeaturedTemplate.taglineG02Featured @ card=card}">
                    </sly>
                    <sly data-sly-test="${!card.featuredTagLineFeaturedCopy && card
                    .simpleTagLinesList}"
                         data-sly-call="${taglineG01SimpleTemplate.taglineG01Simple @ card=card}">
                    </sly>
                </div>
                <h5 class="title">${card.title}</h5>
                <sly data-sly-test="${card.description && !hideDescription}">
                    <div class="description copy">${card.description @ context='html'}</div>
                </sly>
            </div>
        </div>
        <div class="cta-wrapper">
		
            <sly data-sly-set.backgroundFeatured="${card.isFeatured ? 'image' : ''}"
                 data-sly-call="${cta02Link.ctaLink @ copy=link.copy,
                 background=backgroundFeatured, title=title, cardtitle=card.title,type=type}"></sly>
        </div>
    </sly>
</div>

</template>