<!--/* Page Specific Analytics data */-->
<script>
  window.appEventData = [{
    "event": "Data Layer Established",
    "page": {
      "canonicalURL": (location.protocol + '//' + location.host + "${currentPage.path @ context='text'}").replace("/content/sauditourism",""),
      "siteLanguage": "${currentPage.language.toString @ context='text'}",
      "lastModifiedDate": ("${pageProperties['cq:lastModified'].toInstant.toString @
      context='text'}").split(".")[0] + "Z",
      "authoredByManifest": ("${pageProperties['pageAuthor'] @ context='text'}").includes
      ("manifest") ? "${pageProperties['pageAuthor'] @ context='text'}" : ""
    }
  }];
</script>