<template data-sly-template.head="${ @ page, language, seo }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
  <link rel="dns-prefetch" href="//dpm.demdex.net"/>
  <link rel="dns-prefetch" href="//scth.demdex.net"/>
  <link rel="dns-prefetch" href="//saudicommissionforto.tt.omtrdc.net"/>
  <link rel="dns-prefetch" href="//aas.visitsaudi.com"/>
  <!-- need to add these dsn-prefetch links in the html head: -->
  <link href="http://assets.adobedtm.com" rel="dns-prefetch" />
  <link href="http://connect.facebook.net/" rel="dns-prefetch" />
  <link href="http://tpc.googlesyndication.com" rel="dns-prefetch" />
  <link href="http://pagead2.googlesyndication.com" rel="dns-prefetch" />
  <link href="https://www.facebook.com" rel="dns-prefetch" />
  <link href="https://platform.twitter.com/" rel="dns-prefetch" />
  <link href="https://staticxx.facebook.com" rel="dns-prefetch" />

  <sly data-sly-use.prefetch="prefetch.js" data-sly-list.prefetchLink="${prefetch.prefetchLinks}">
	<link rel="${prefetchLink.rel}" href="${prefetchLink.href}" as="${prefetchLink.type}">
  </sly>

  <meta data-sly-test.templateName="${page.templateName}" name="template"
        content="${templateName}"/>
  <meta charSet="utf-8">
  <title>${properties['jcr:title'] || page.title} - ${'visitsaudiwebsite' @ i18n}</title>

  <meta data-sly-test.keywords="${seo.seoKeywords}" name="keywords" content="${keywords}"/>
  <meta data-sly-test.description="${properties['jcr:description']}" name="description"
        content="${description}"/>
  <meta property="og:title" data-sly-test="${page.title}" content=${page.title}>
  <meta property="og:description" data-sly-test="${inheritedPageProperties.jcr:description}"
        content=${inheritedPageProperties.jcr:description}>
  <meta property="og:image" data-sly-test="${pageProperties.featureImage}"
        content="${pageProperties.featureImage  @ context='uri'}">
  <meta name="twitter:card" data-sly-test="${inheritedPageProperties.jcr:description}"
        content=${inheritedPageProperties.jcr:description}>
  <meta name="twitter:description" data-sly-test="${inheritedPageProperties.jcr:description}"
        content=${inheritedPageProperties.jcr:description}>
  <meta name="twitter:image" data-sly-test="${pageProperties.featureImage}"
        content="${pageProperties.featureImage @ context='uri'}">
  <meta httpEquiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta data-sly-test="${pageProperties.metaRobots}"
        name="robots" content="${pageProperties.metaRobots}"/>
  <link rel="canonical"
        href="${pageProperties.canonicalUrl ? pageProperties.canonicalUrl : currentPage.path @ context='uri'}">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- Enable i18n script -->
  <script>
    const i18nLabels = {};
    i18nLabels["Book this experience"] = "${'Book this experience' @ i18n, context='text'}";
    i18nLabels["hs"] = "${'hs' @ i18n, context='text'}";
    i18nLabels["from"] = "${'from' @ i18n, context='text'}";
    i18nLabels["to"] = "${'to' @ i18n, context='text'}";
    i18nLabels["cityLabel"] = "${'cityLabel' @ i18n, context='text'}";
    i18nLabels["Learn More"] = "${'Learn More' @ i18n, context='text'}";
    i18nLabels["See More"] = "${'See More' @ i18n, context='text'}";
    i18nLabels["Day"] = "${'Day' @ i18n, context='text'}";
  </script>
  <!-- End Enable i18n script -->
  <!-- Adobe Analytics Embed Code start -->
<script>
window.digitalData = {
page: {
server: "${request.serverName @ context='text'}", // <Server Name>, //Server name is the domain of the web page
channel: "",// <Channel>, //Site section
pageType: "${templateName @ context='text'}", // <Page Type>
pageName: "${page.title @ context='text'}", // < customized page name>, as per page name strategy, delimited using colon
siteCountry: "sa" // <Site Country>, country of website opened
 },
userinfo: {
loggedIn: "guest",//<login Status> //can have values 'logged-in' or 'guest',
userID: "",//<should only be tracked if activated for the site (default no tracking of the ID)> set this only for logged in user
countryCode: "in",// <countryCode:<country from the login, not from current website country>
language: "ar"//<language from the login, not from current website country>
 }
 };
</script>
<!-- Adobe Analytics Embed Code end-->

  <sly data-sly-include="datalayer.html"></sly>

  <script>
    window.pageInfo = {
      category: '',
      country: '',
      language: '',
      path: '${currentPage.path @ context='text'}',
      search: {
        keyword: '',
        results: ''
      },
      title: '${page.title @ context='text'}',
      type: '${templateName @ context='text'}'
    }
  </script>

  <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
  <!-- Google Tag Manager -->
  <script data-sly-test="${language != 'zh'}">
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      //f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PQKR2QZ');
  </script>
  <script data-sly-include="adobescript.html">
  </script>
  <!-- End Google Tag Manager -->
  <sly data-sly-include="customheaderlibs.html"></sly>
</template>
