<!--/* Include Header Navigation */-->
<sly data-sly-test="${!('app' in request.requestPathInfo.selectors)}"
     data-sly-use.switchModel="com.saudi.tourism.core.models.components.nav.NavSwitchSlingModel">
  <sly data-sly-test.isV4="${switchModel.enabledHeaderV4}"
      data-sly-include="/apps/sauditourism/components/content/n01-navigation-menu/v4/n01-navigation-menu/n01-navigation-menu.html"></sly>
  <sly data-sly-test="${!isV4}"
       data-sly-include="/apps/sauditourism/components/content/n01-navigation-menu/v3/n01-navigation-menu/n01-navigation-menu.html"></sly>
</sly>


<!--/* Old header (v1) */-->
<!--/*
<sly data-sly-test="${!newHeader}"
     data-sly-set.mainNavComponent="${'sauditourism/components/content/n01-navigation-menu/v1/n01-navigation-menu'}">
  <sly data-sly-use.configModel="${'com.saudi.tourism.core.models.common.ConfigurationModel'
     @ resourceType=mainNavComponent, configPage='Configs/navigation-menu-configs', isRelativePath=true}"></sly>


  <div
      data-sly-resource="${ configModel.resourcePath || 'n01-navigation-menu' @ wcmmode='disabled', resourceType=mainNavComponent}"
      data-sly-unwrap></div>
</sly>
*/-->
