<section class="generic-loader" data-component="generic-loader" id="genericLoader">
    <div class="generic-modal">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1950 -975 3900 1950">
            <mask id="m" class="mask">
                <circle r="1200" fill="#000"></circle>
                <use xlink:href="#c"></use>
            </mask>
            <circle id="c" r="600"></circle>
            <g style="mask: url(#m)">
                <use xlink:href="#c"></use>
            </g>
        </svg>
    </div>
</section>