/* Select */
.react-custom-flag-select__select__selector {
    padding: 8px;
    background: #f2f2f2;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Dropdown Name */

.react-custom-flag-select__select__options-container .react-custom-flag-select__select__dropdown-name {
    position: relative;
    overflow: unset;
    left: -10px;
}

/* Right-to-Left Direction Dropdown Name */
[dir="rtl"] .react-custom-flag-select__select__dropdown-name {
    right: -14px;
}

/* Dropdown Flag */
.react-custom-flag-select__select__dropdown-flag {
    height: 20px !important;
    width: 20px !important;
    max-width: 20px !important;
}

/* Dropdown Icon */
.react-custom-flag-select__select__dropdown-icon.react-custom-flag-select__showArrow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    height: 11px;
    width: 11px;
}

.react-custom-flag-select__select__dropdown-icon.react-custom-flag-select__showArrow:before {
   content: none;
}

.react-custom-flag-select__select__dropdown-flag > img {
    width: 20px !important;
    height: 20px !important;
    max-width: 24px !important;
}

