<div class="layout2Cols">
    <!-- about section-->
    <div class="leftCol1 about-block">
        <div data-sly-unwrap="${wcmmode.disabled}">
            <sly data-sly-resource="${'LEFT-COLUMN' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
    </div>

    <div class="rightCol1">
        <div data-sly-unwrap="${wcmmode.disabled}">
            <sly data-sly-resource="${'RIGHT-COLUMN' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
    </div>
</div>