<sly data-sly-set.appHeroCarouselPath="/apps/sauditourism/components/app-content/app-hero-carousel"
     data-sly-set.appEVisaPath="/apps/sauditourism/components/app-content/app-evisa-banner-config"
     data-sly-set.appCardsPath="/apps/sauditourism/components/app-content/app-generic-cards"
     data-sly-set.appHomePageOrder="/apps/sauditourism/components/app-content/native-app-homepage-order"
     data-sly-set.appPromotionCardsPath="/apps/sauditourism/components/app-content/app-promotion-cards"
     data-sly-set.nativeAppFeatures="/apps/sauditourism/components/app-content/native-app-feature"
     data-sly-set.nativeAppVersion ="/apps/sauditourism/components/app-content/native-app-version"

     data-sly-set.nativeAppSeeDoOrder ="/apps/sauditourism/components/app-content/native-app-seedo-order"
     data-sly-set.nativeAppLocales ="/apps/sauditourism/components/app-content/native-app-locales"
     data-sly-set.nativeAppLoyaltyCarousel="/apps/sauditourism/components/app-content/native-app-loyalty-carousel"
     data-sly-set.nativeAppOnboarding="/apps/sauditourism/components/app-content/native-app-onboarding"
     data-sly-set.nativeAppRewardsOrder ="/apps/sauditourism/components/app-content/native-app-rewards-order"
     data-sly-set.nativeAppEvisa = "/apps/sauditourism/components/app-content/native-app-evisa"
     data-sly-set.nativeAppExploreDeals="/apps/sauditourism/components/app-content/app-generic-cards"
     data-sly-set.mobileAllEvents = "/apps/sauditourism/components/app-content/mobile-all-events"
     data-sly-set.appSspOnboarding="/apps/sauditourism/components/app-content/app-ssp-onboarding"
     data-sly-set.appQrCodeTutorial="/apps/sauditourism/components/app-content/app-qr-code-tutorial"
     data-sly-set.mobileAboutGoLanding="/apps/sauditourism/components/app-content/mobile-about-go-landing-config"
     data-sly-set.appLoyaltyOnboarding="/apps/sauditourism/components/app-content/app-loyalty-onboarding"
     data-sly-set.mobileTrending="/apps/sauditourism/components/app-content/mobile-trending-config"
     data-sly-set.mobileSuggestions="/apps/sauditourism/components/app-content/mobile-suggestions-config"
>
</sly>

<br>
<br>
<div data-sly-resource="${ 'carousel' @ resourceType=appHeroCarouselPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'eVisaBanner' @ resourceType=appEVisaPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'travel-essentials' @ resourceType=appCardsPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'explore-deals' @ resourceType=nativeAppExploreDeals, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'flydeal' @ resourceType=appCardsPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'happeningNow' @ resourceType=appPromotionCardsPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'promotionsHome' @ resourceType=appCardsPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'promotions' @ resourceType=appPromotionCardsPath, decoration=true}"></div>
<br>
<div data-sly-resource="${ 'homepageOrder' @ resourceType=appHomePageOrder, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'nativeAppFeatureApi' @ resourceType=nativeAppFeatures, decoration=true}"></div>
<br>
<div data-sly-resource="${ 'nativeAppVersion' @ resourceType=nativeAppVersion, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'seeDoOrder' @ resourceType=nativeAppSeeDoOrder, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${'nativeAppLocales' @ resourceType=nativeAppLocales, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${'nativeAppLoyaltyCarousel' @ resourceType=nativeAppLoyaltyCarousel, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'loyaltyCarousel' @ resourceType=appHeroCarouselPath, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'loyaltyPageOrder' @ resourceType=appHomePageOrder, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'loyaltyPromo' @ resourceType=appCardsPath, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'nativeAppOnboarding' @ resourceType=nativeAppOnboarding, decoration=true}"></div>
<br>
<br>
<div data-sly-resource="${ 'rewardsOrder' @ resourceType=nativeAppRewardsOrder, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'nativeAppEvisa' @ resourceType=nativeAppEvisa, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'mobileAllEvents' @ resourceType=mobileAllEvents, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'sspOnboarding' @ resourceType=appSspOnboarding, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'qrCodeTutorial' @ resourceType=appQrCodeTutorial, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'loyaltyOnboarding' @ resourceType=appLoyaltyOnboarding, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'mobileTrending' @ resourceType=mobileTrending, decoration=true}"></div>
<br/>
<br/>
<div data-sly-resource="${ 'mobileSuggestions' @ resourceType=mobileSuggestions, decoration=true}"></div>

<br/>
<br/>
<div data-sly-resource="${ 'mobileAboutGoLanding' @ resourceType=mobileAboutGoLanding, decoration=true}"></div>
<br/>