<sly data-sly-use.model="com.saudi.tourism.core.models.components.BridgeConfigModel">
    <sly data-sly-test="${model.configCheckVal}">
        <script src="https://cdn.mindrocketsapis.com/client/Latest/jquery.js"></script>
        <script src="https://cdn.mindrocketsapis.com/client/Latest/jquery.cookie.js"></script>
        <script src="https://cdn.mindrocketsapis.com/client/Latest/toolkit.js"></script>
        <script src="https://cdn.mindrocketsapis.com/client/Latest/signsplayer.js"></script>
        <script src="https://cdn.mindrocketsapis.com/client/Latest/tooltip_add.js"></script>
        <script src="https://cdn.mindrocketsapis.com/client/visitSA/integrator.js"></script>
    </sly>
</sly>