<template data-sly-template.ornaments01Sheets="${@ patternDefault, patternOrientation,
          dataSheetsPatternEditor, patterCustomBranding ,class}">
  <div
      data-component="ornaments-01-sheets"
      data-pattern-default="${patternDefault}"
      data-pattern-orientation="${patternOrientation}"
      data-pattern-editor="${dataSheetsPatternEditor ? dataSheetsPatternEditor : ''}"
      data-pattern-custom-branding="${patterCustomBranding}"
      class="${class ? class : ''}"></div>
</template>