<section style="margin-left:30px">
  <h1>Admin Page</h1>
  
  <br/><br/>
  <div data-sly-resource="${'options'
       @resourceType='/apps/sauditourism/components/structure/admin/options'}"></div>
  
  <br/><br/>
  <div
      data-sly-resource="${'alerts' @resourceType='/apps/sauditourism/components/structure/admin/alerts'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'package-form-config' @
           resourceType='sauditourism/components/structure/admin/package-form-config'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'create-itinerary-config' @
           resourceType='sauditourism/components/structure/admin/create-itinerary-config'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'holidays' @
           resourceType='/apps/sauditourism/components/structure/admin/holidays'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'upcoming-seasons' @
           resourceType='/apps/sauditourism/components/structure/admin/upcoming-seasons'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'search' @
           resourceType='sauditourism/components/structure/admin/search'}"></div>
  
  <br/><br/>
  <div data-sly-resource="${'placeholder' 
       @resourceType='/apps/sauditourism/components/structure/admin/placeholder'}"></div>
  <br>
  <br>
  <div data-sly-resource="${'packages-settings' @
           resourceType='sauditourism/components/structure/admin/packages-settings'}"></div>
  <br>
  <br>
    <div data-sly-resource="${'thingstodo-filters' @
           resourceType='sauditourism/components/structure/admin/thingstodo-filters'}"></div>
  <br>
  <br>
  <br>
  <br>
    <div data-sly-resource="${'mobile-filters-config' @
           resourceType='sauditourism/components/structure/admin/mobile-filters-config'}"></div>
  <br>
  <br>
    <div data-sly-resource="${'stories-filters' @
           resourceType='sauditourism/components/structure/admin/stories-filters'}"></div>
    <br></br>
    <div data-sly-resource="${'events-filters' @
           resourceType='sauditourism/components/structure/admin/events-filters'}"></div>
    <br></br>
    <div data-sly-resource="${'attraction-map-filters' @
           resourceType='sauditourism/components/structure/admin/attraction-map-filters'}"></div>
    <br></br>
    <div data-sly-resource="${'calendar-info' @
           resourceType='sauditourism/components/structure/admin/calendar-info'}"></div>
    <br></br>
  <div data-sly-resource="${'roadTrip-settings' @
         resourceType='sauditourism/components/structure/admin/roadTrip-settings'}"></div>
    <br></br>
    <div data-sly-resource="${'chatbot' @
         resourceType='sauditourism/components/structure/admin/chatbot'}"></div>
    <br></br>
    <div data-sly-resource="${'seasons' @
         resourceType='sauditourism/components/structure/admin/seasons'}"></div>
    <br></br>
    <div data-sly-resource="${'greenTaxi-settings' @
         resourceType='sauditourism/components/structure/admin/greenTaxi-settings'}"></div>
    <br></br>
    <div data-sly-resource="${'countries-groups' @
         resourceType='sauditourism/components/structure/admin/countries-groups'}"></div>

    <br/>
    <div data-sly-resource="${'user-feedback-settings' @
         resourceType='sauditourism/components/structure/admin/user-feedback-settings'}"></div>
</section>

