<div data-sly-unwrap="${wcmmode.disabled}">
    <sly data-sly-resource="${'/conf/sauditourism/settings/wcm/templates/destination-page/structure/jcr:content/root/menu' @ resourceType='sauditourism/components/content/menu'}"></sly>
    <div data-sly-unwrap="${wcmmode.disabled}">
        <sly data-sly-resource="${'root/page_banner' @resourceType='/apps/sauditourism/components/content/page-banner'}"></sly>
    </div>
    <div data-sly-unwrap="${wcmmode.disabled}">
        <sly data-sly-resource="${'root/breadcrumb' @ resourceType='sauditourism/components/content/breadcrumb', decorationTagName='div', cssClassName='banner-on-top-of-breadcrumbs'}"></sly>
    </div>
    <div class="layout2Cols">
        <!-- Main Content Area -->

        <!-- About Section area -->
        <div class="leftCol1">
            <!-- Include another component -->
            <sly data-sly-resource="${'root/about_section' @ resourceType='sauditourism/components/content/about-section', decorationTagName='div'}"></sly>
            <sly data-sly-resource="${'root/leftsidebar' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
        <div class="rightCol1">
            <sly data-sly-resource="${'root/anchors' @ resourceType='sauditourism/components/content/anchors', decorationTagName='div'}"></sly>
            <sly data-sly-resource="${'root/rightsidebar' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
        <div class="leftCol2">
        </div>
    </div>


    <div data-sly-unwrap="${wcmmode.disabled}">
        <sly data-sly-resource="${'root/responsivegrid' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
    </div>



    <sly data-sly-resource="${'/conf/sauditourism/settings/wcm/templates/destination-page/structure/jcr:content/root/footer-block' @ resourceType='sauditourism/components/content/contentfragmentfooter'}"></sly>
</div>
