<template data-sly-template.rating="${@ type, rating}"
          data-sly-use.iconTemplate="/apps/sauditourism/components/content/templates/general/icon.html">

<div class="static-rating" data-component="static-rating" type="${type}" rating="${rating}">
    <sly data-sly-test="${type=='star'}">

        <sly data-sly-call="${iconTemplate.icon @ iconName='star-fill', iconClass='star'}"></sly>
        <sly data-sly-call="${iconTemplate.icon @ iconName='star-fill', iconClass='star'}"></sly>
        <sly data-sly-call="${iconTemplate.icon @ iconName='star-fill', iconClass='star'}"></sly>
        <sly data-sly-call="${iconTemplate.icon @ iconName='star-fill', iconClass='star'}"></sly>

    </sly>
    <sly data-sly-test="${type=='dollar'}">

     <sly data-sly-call="${iconTemplate.icon @ iconName='currency-symbol', iconClass='dollar'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='currency-symbol', iconClass='dollar'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='currency-symbol', iconClass='dollar'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='currency-symbol', iconClass='dollar'}"></sly>

    </sly>

    <sly data-sly-test="${type=='price-level'}">

     <sly data-sly-call="${iconTemplate.icon @ iconName='price-icon', iconClass='price-level'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='price-icon', iconClass='price-level'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='price-icon', iconClass='price-level'}"></sly>
     <sly data-sly-call="${iconTemplate.icon @ iconName='price-icon', iconClass='price-level'}"></sly>

    </sly>
</div> 
</template>