# Configuration created by Apache Sling JCR Installer
linkcheckertransformer.strictExtensionCheck=B"false"
linkcheckertransformer.rewriteElements=["a:href","area:href","form:action","img:src","link:href","script:src"]
linkcheckertransformer.stripExtensionPathBlacklist=["/content/sauditourism/en/login.html","/libs/granite/core/content/login.html"]
linkcheckertransformer.disableRewriting=B"true"
linkcheckertransformer.disableChecking=B"true"
linkcheckertransformer.stripHtmltExtension=B"true"
linkcheckertransformer.mapCacheSize=I"5000"
