src/main/content/jcr_root/apps/sauditourism/clientlibs/clientlib-site
src/main/content/jcr_root/apps/sauditourism/clientlibs/clientlib-dynamic-modules
src/main/content/jcr_root/apps/sauditourism/clientlibs/clientlib-dependencies
