# Configuration created by Apache Sling JCR Installer
getPackageUri="http://10.104.2.197:4502/bin/api/v1/entry/package?dmc\=%s&name\=%s"
getPackagesUri="http://10.104.2.197:4502/bin/api/v1/entry/package/list?dmc\=%s"
postPackageUri="http://10.104.2.197:4502/bin/api/v1/entry/package?dmc\=%s"
putPackageUri="http://10.104.2.197:4502/bin/api/v1/entry/package?dmc\=%s&name\=%s"
deletePackageUri="http://10.104.2.197:4502/bin/api/v1/entry/package?dmc\=%s&name\=%s"
