# Configuration created by Apache Sling JCR Installer
cq.wcm.msm.action.excludednodetypes=["cq:LiveSyncConfig","cq:BlueprintSyncConfig",
"cq:LiveSyncAction","cq:CatalogSyncConfig","cq:CatalogSyncAction","cq:meta"]
cq.wcm.msm.action.excludedparagraphitems=["cq:propertyInheritanceCancelled","title",
"subtitle","subTitle","description","alt","copy","text","componentTitle","mainTitle",
"introTitle","itineraryCtaTitle","introSubtitle","introDescription","question","answer",
"createItineraryLabel","details"]
cq.wcm.msm.action.ignoredMixin=[".*"]
cq.wcm.msm.action.excludedprops=["jcr:.*","sling:(?!(resourceType|resourceSuperType)$).*","cq:(?!
(designPath|template|lastTranslationUpdate|targetEngine)$).*","publishCampaignId","navTitle",
"pageTitle","subtitle","isRightToLeftLanguage","ctaText","shortDescription","copy","title",
"eventSubtitle","label","value","regionsLabel","citiesLabel","bestForLabel","regionLabel",
"cityLabel"]
