# Configuration created by Apache Sling JCR Installer
firewall.deserialization.diagnostics="class-name-only"
firewall.deserialization.blacklist=["org.apache.commons.collections.functors.InvokerTransformer","org.apache.commons.collections4.functors.InvokerTransformer","org.apache.commons.collections.functors.InstantiateTransformer","org.apache.commons.collections4.functors.InstantiateTransformer","org.apache.xalan.internal.xsltc.trax.TemplatesImpl","org.codehaus.groovy.runtime.ConvertedClosure","org.codehaus.groovy.runtime.MethodClosure","org.springframework.beans.factory.ObjectFactory","org.springframework.core.SerializableTypeWrapper$MethodInvokeTypeProvider","com.sun.org.apache.xalan.internal.xsltc.trax.TemplatesImpl"]
firewall.deserialization.whitelist=["[","com.saudi.tourism.core.services.weather.model.output.","com.adobe.","com.day.","com.google.api.client.auth.oauth2.","com.scene7.","java.","javax.","oracle.sql.","org.apache.http.auth","org.apache.http.impl.auth","org.apache.jackrabbit.","org.apache.sling.","com.saudi.tourism.core.models.common."]
