<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="green">
  <div class="w-96 px-6 py-3">
    <div data-component="Alert" data-props='{
      "alert":"Due to heavy rain all trips to Farsan islands will be suspended",
      "alertColor" : "Yellow"
   }'></div>
    <div data-component="Alert" data-props='{
      "alert":"Due to heavy rain all trips to Farsan islands will be suspended",
      "alertColor" : "Red"
    }'></div>
    <div data-component="Alert" data-props='{
      "alert":"Due to heavy rain all trips to Farsan islands will be suspended",
      "alertColor" : "Green"
    }'></div>
    <div data-component="Alert" data-props='{
      "alert":"Due to heavy rain all trips to Farsan islands will be suspended",
      "alertColor" : "Grey"
    }'></div>
    <div data-component="Alert" data-props='{
      
    }'></div>
  </div>

</body>

</html>