<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>All Destinations</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="purple">

  <div class="mt-10 mb-10">
      <div data-component="AllDestinations" data-props='{
        "title": "All destinations",
        "destinations": [
          {
            "title": "Riyad",
            "subTitle": "Riyad subtitle",
            "bannerImage": {
              "fileReference": "/content/dam/sauditourism/cf-poc",
              "mobileImageReference": "/content/dam/sauditourism/cf-poc",
              "s7fileReference": "/content/dam/sauditourism/cf-poc",
              "s7mobileImageReference": "/content/dam/sauditourism/cf-poc",
              "desktopImage": "/content/dam/sauditourism/cf-poc",
              "mobileImage": "/content/dam/sauditourism/cf-poc",
              "breakpoints": []
            },
            "popUpImage": {
              "fileReference": "/content/dam/sauditourism/Holding image red wall.jpg",
              "mobileImageReference": "/content/dam/sauditourism/Holding image red wall.jpg",
              "s7fileReference": "https://scth.scene7.com/is/image/scthacc/Holding image red wall",
              "s7mobileImageReference": "https://scth.scene7.com/is/image/scthacc/Holding image red wall",
              "desktopImage": "https://scth.scene7.com/is/image/scthacc/Holding image red wall:crop-660x337?defaultImage\u003dHolding image red wall",
              "mobileImage": "https://scth.scene7.com/is/image/scthacc/Holding image red wall:crop-375x280?defaultImage\u003dHolding image red wall",
              "breakpoints": [
                {
                  "srcset": "https://scth.scene7.com/is/image/scthacc/Holding%20image%20red%20wall:crop-375x210?defaultImage\u003dHolding%20image%20red%20wall\u0026wid\u003d375\u0026hei\u003d210 375w",
                  "media": "(max-width: 768px)"
                },
                {
                  "srcset": "https://scth.scene7.com/is/image/scthacc/Holding%20image%20red%20wall:crop-375x210?defaultImage\u003dHolding%20image%20red%20wall\u0026wid\u003d375\u0026hei\u003d210 375w"
                }
              ],
              "defaultImage": "https://scth.scene7.com/is/image/scthacc/Holding%20image%20red%20wall:crop-375x210?defaultImage\u003dHolding%20image%20red%20wall\u0026wid\u003d375\u0026hei\u003d210"
            },
            "latitude": "29",
            "longitude": "30",
            "id": "riyadh",
            "categories": [
              {
                "title": "Urban",
                "image": {
                  "fileReference": "/content/dam/sauditourism/app_apple.png",
                  "s7fileReference": "https://scth.scene7.com/is/image/scthacc/app_apple"
                },
                "icon": "categories_xs_shopping"
              },
              {
                "title": "Food",
                "image": {
                  "fileReference": "/content/dam/sauditourism/Holding image red wall.jpg",
                  "s7fileReference": "https://scth.scene7.com/is/image/scthacc/Holding image red wall"
                },
                "icon": "categories_xs_food"
              }
            ],
            "weather": {
              "weather": "Clear",
              "temp": 33.08,
              "cityId": "riyadh",
              "city": "Riyadh",
              "icon": "Clear"
            },
            "pagePath": {
              "hideMap": false,
              "url": "/content/sauditourism/en/see-do/destinations/riyadh.html",
              "targetInNewWindow": false
            }
          }
        ]
      }'></div>
    </div>
</body>

</html>