<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Anchors page</title>
        <meta name="template" content="page-content" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body class="page basicpage" data-page-theme="purple">
        <div class="">
            <div
                data-component="Anchors"
                data-props='{
			"title": "JUMP TO URLS",
			"line":"true",
			"showInResponsive" : true,
			"links": [
			{
				"number":"01",
				"hideMap":false,
				"url":"/content/sauditourism/en/all-destinations.html",
				"urlWithExtension":"/content/sauditourism/en/all-destinations.html",
				"urlSlingExporter":"/AtomsShowcase",
				"targetInNewWindow":true,
				"text":"All destinations",
				"appType":"calendar",
				"scroll":false
		 }
			]
		}'
            ></div>
            <div
                data-component="Anchors"
                data-props='{
			"title": "JUMP TO URLS",
			"line":"true",
			"showInResponsive" : true,
			"links": [
			{
				"number":"00",
				"hideMap":false,
				"url":"/content/sauditourism/en/all-destinations",
				"urlWithExtension":"/content/sauditourism/en/all-destinations.html",
				"urlSlingExporter":"/all-destinations",
				"targetInNewWindow":true,
				"text":"Dont miss",
				"appType":"calendar",
				"scroll":false
		 },
			{
				"number": "01",
				"text": "Dont miss"
			},
			{
				"number": "02",
				"text": "City guide"
			},
			{
				"number": "03",
				"text": "Unique Neighborhoods"
			},
			{
				"number": "04",
				"text": "Discover the city"
			},
			{
				"number": "05",
				"text": "Events Happening now"
			},
			{
				"number": "06",
				"text": "Book your experiences"
			},
			{
				"number": "07",
				"text": "Latest stories"
			},
			{
				"number": "08",
				"text": "Accommodations"
			},
			{
				"number": "09",
				"text": "Rent a car"
			},
			{
				"number": "10",
				"text": "City offers"
			},
			{
				"number": "11",
				"text": "Curated itineraries"
			},
			{
				"number": "12",
				"text": "Cities nearby"
			}
			]
		}'
            ></div>
            <!-- <div data-component="PromotionalBanner" data-props='{
			"componentId":"promotionalBanner",
			"type":"Story",
			"height":"large",
			"showArrows":true,
			"hideImageBrush":true,
			"logo": {
				"alt":"welcome",
				"fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
				"mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
				"s7fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
				"s7mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png"
			},
			"cards": [
			{
				"title": "Explore the Underwater",
				"description": "It is the season of legends, rivals, competition and speed.",
				"video":{
					"videoFileReference":"/content/dam/sauditourism/video.mp4",
					"s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
					"autorerun":"true",
					"autoplay":"true"
				},
				"link": {
					"url":"https://www.google.com",
					"copy": "Nonalcoholic Saudi Cooler",
					"targetInNewWindow": false,
					"appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
				},
				"thumbs": {
						"moreLabel":"+20 more",
						"gallery":[
						{
							"type":"video",
							"typeLabel":"Video",
							"video":{
								"videoFileReference":"/content/dam/sauditourism/video.mp4",
								"s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
								"thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat"
							},
							"location":"Location name"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
								"mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
								"s7fileReference": "https://s7e5a.scene7.com/is/image/scth/Gathern3",
								"s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
								"alt":"2"
							},
							"location":"Dawha"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"alt":"1"
							},
							"location":"Dawha"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
								"mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
								"s7fileReference": "https://dev-revamp.visitsaudi.com/content/dam/1920x1080IMAGE_08.png",
								"s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
								"alt":"3"
							},
							"location":"Dawha"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://s7e5a.scene7.com/is/image/scth/810x1080_Explore-3",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"alt":"4"
							},
							"location":"Dawha"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://s7e5a.scene7.com/is/image/scth/culture",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"alt":"5"
							},
							"location":"Dawha"
						},
						{
							"type":"video",
							"typeLabel":"Video",
							"video":{
								"videoFileReference":"/content/dam/sauditourism/video.mp4",
								"s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
							},
							"location":"Riyadh"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
							},
							"location":"Dawha"
						},
						{
							"type":"video",
							"typeLabel":"Video",
							"video":{
								"videoFileReference":"/content/dam/sauditourism/video.mp4",
								"s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
								"thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat"
							},
							"location":"Riyadh"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
							},
							"location":"Dawha"
						},
						{
							"type":"video",
							"typeLabel":"Video",
							"video":{
								"videoFileReference":"/content/dam/sauditourism/video.mp4",
								"s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
								"thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat"
							},
							"location":"Riyadh"
						},
						{
							"type":"image",
							"typeLabel":"Image",
							"image": {
								"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
								"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
								"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
								"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
							},
							"location":"Dawha"
						}
						]
				}
			},
				{
					"title": "Explore the Underwater",
					"subTitle": "It is the season of legends, rivals, competition and speed.",
					"newPrice":"50,000 SAR",
					"oldPrice":"From 13,840 SAR 16",
					"image": {
						"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
						"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
						"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
						"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
					},
					"logo":{
						"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
						"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
						"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
						"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
					},
					"link": {
						"copy": "Nonalcoholic Saudi Cooler",
						"targetInNewWindow": false,
						"appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
					}
				},
				{
					"title": "Explore the Underwater",
					"subTitle": "It is the season of legends, rivals, competition and speed.",
					"newPrice":"50,000 SAR",
					"oldPrice":"From 13,840 SAR 16",
					"image": {
						"fileReference": "https://i.ibb.co/KyZdZpc/story.png",
						"mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
						"s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
						"s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
					},
					"link": {
						"copy": "Nonalcoholic Saudi Cooler",
						"targetInNewWindow": false,
						"appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
					}
				}
			]
		}'>
		</div> -->
        </div>
    </body>
</html>

