<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8" />
	<title>ContactUs page</title>
	<meta name="template" content="page-content" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="purple">
	<div data-component="ContactUs" data-props='{
			"title": "Send Us A Message",
			"description": "Please let us know what you think !",
			"firstNameText": "First Name",
			"firstNamePlaceholderText": "Enter first name",
			"firstNameErrorText": "This field should not be empty",
			"firstNameValidationErrorText": "This field should not be empty",
			"lastNameText": "Last Name",
			"lastNamePlaceholderText": "Enter last name",
			"lastNameErrorText": "This field should not be empty",
			"lastNameValidationErrorText": "This field should not be empty",
			"emailAddressText": "Email Address ",
			"emailAddressPlaceholderText": "Enter email address",
			"emailAddressErrorText": "This field should not be empty",
			"emailValidationErrorText": "This field should not be empty",
			"phoneNumberText": "Phone Number",
			"phoneNumberPlaceholderText": "Enter phone number",
			"phoneNumberErrorText": "invalid phone number",
			"phoneValidationErrorText": "invalid phone number",
			"messageTypeText": "Message Type",
			"messageText": "Message",
			"messagePlaceholderText": "Enter your message here ",
			"messageErrorText": "This field should not be empty",
			"ctaButtonText": "Send Message",
			"messageSuccessText": "Your message was sent successfully !",
			"messageFailureText": "something went wrong !",
			"messageTypeServlet": "/bin/api/contactus/messageType",
			"submitFormServlet": "https://qa-revamp.visitsaudi.com/bin/api/contactus/formData",
			"flagsPath": "/content/dam/saudi-tourism/media/flags",
			"image": {
				"fileReference": "/content/dam/sauditourism/cf/en/fady_and_bob/fady/contact-us/contact us hamzeh.png",
				"s7fileReference": "https://s7e5a.scene7.com/is/image/scthacc/contact us hamzeh",
				"desktopImage": "https://s7e5a.scene7.com/is/image/scthacc/contact us hamzeh:crop-460x620?defaultImage\u003dcontact us hamzeh",
				"mobileImage": "https://s7e5a.scene7.com/is/image/scthacc/contact us hamzeh:crop-460x620?defaultImage\u003dcontact us hamzeh",
				"isTransparent": false
			}
		}'>
	</div>



</body>

</html>