<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="green">
  <div class="w-96 px-6 py-3">
    <div data-component="DateWidget" data-props='{
      "title": "",
      "startDate": "2023-10-01T00:00:00.000+03:00",
      "endDate": "2023-10-15T00:00:00.000+03:00",
      "comingSoonLabel": "",
      "expiredLabel": ""
    }'></div>

    <div data-component="DateWidget" data-props='{
      "title": "Single Date Event",
      "startDate": "2023-10-01T00:00:00.000+03:00",
      "endDate": "2023-10-01T00:00:00.000+03:00",
      "comingSoonLabel": "",
      "expiredLabel": "Expired!"
    }'></div>


    <div data-component="DateWidget" data-props='{
      "title": "title label",
      "startDate": "2023-12-20T00:00:00.000+03:00",
      "endDate": "2023-12-20T00:00:00.000+03:00",
      "comingSoonLabel": "Coming Soon label",
      "expiredLabel": "expired"
    }'></div>


    <div data-component="DateWidget" data-props='{
      "title": "Current Event",
      "startDate": "2023-11-01T00:00:00.000+03:00",
      "endDate": "2023-11-20T00:00:00.000+03:00",
      "comingSoonLabel": "",
      "expiredLabel": ""
    }'></div>

    <div data-component="DateWidget" data-props='{
      "title": "Current Event",
      "startDate": "",
      "endDate": "",
      "comingSoonLabel": "Coming Soon!",
      "expiredLabel": ""
    }'></div>

    <div data-component="DateWidget" data-props='{
      "title": "Current Event",
      "startDate": "",
      "endDate": "",
      "comingSoonLabel": "Current Event",
      "expiredLabel": ""
    }'></div>


  </div>

</body>

</html>