<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Error page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage mb-20" data-page-theme="green">
    <h1 class="text-5xl text-center lg:m-[100px]">500 page</h1>
    <div data-component="Errors" data-props='{
        "image": {
            "fileReference": "https://i.ibb.co/XCT9G2B/maintenance.png",
            "isTransparent": true
        },
        "title": "Visa Regulation is Under Maintenance",
        "description": "Visit Saudi is down for scheduled maintenance and except to back online in a few minutes"
    }'></div>
    <hr class="my-20">
    <h1 class="text-5xl text-center lg:m-[100px]">404 page</h1>
    <div data-component="Errors" data-props='{
        "image": {
            "fileReference": "https://i.ibb.co/XCT9G2B/maintenance.png",
            "isTransparent": true
        },
        "title": "404 page not found",
        "description": "Visit Saudi is down for scheduled maintenance and except to back online in a few minutes"
    }'></div>
    <hr class="my-20">
    <h1 class="text-5xl text-center lg:m-[100px]">Maintenance page</h1>
    <div data-component="Errors" data-props='{
        "image": {
            "fileReference": "https://i.ibb.co/1sxxtMx/maintenance-v1.png",
            "isTransparent": true
        },
        "title": "We will be back soon",
        "description": "Visit Saudi is down for scheduled maintenance and except to back online in a few minutes"
    }'></div>

</body>

</html>