<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="dns-prefetch" href="//dpm.demdex.net" />
  <link rel="dns-prefetch" href="//scth.demdex.net" />
  <link rel="dns-prefetch" href="//saudicommissionforto.tt.omtrdc.net" />
  <link rel="dns-prefetch" href="//aas.visitsaudi.com" />
  <!-- need to add these dsn-prefetch links in the html head: -->
  <link href="http://assets.adobedtm.com" rel="dns-prefetch" />
  <link href="http://connect.facebook.net/" rel="dns-prefetch" />
  <link href="http://tpc.googlesyndication.com" rel="dns-prefetch" />
  <link href="http://pagead2.googlesyndication.com" rel="dns-prefetch" />
  <link href="https://www.facebook.com" rel="dns-prefetch" />
  <link href="https://platform.twitter.com/" rel="dns-prefetch" />
  <link href="https://staticxx.facebook.com" rel="dns-prefetch" />
  <!--Chatbot starts here-->



  <!--Chatbot ends here-->



  <meta name="template" content="base-content-page" />
  <meta charSet="utf-8" />


  <title>Gallery</title>




  <!--Tags for Korean language-->

  <!--Tags for EN language-->




  <meta property="og:title" content="Sprint6" />
  <meta property="og:description"
    content="Explore Saudi’s top destinations, ancient heritage and culture, breathtaking outdoor activities, and delicious local food. Discover more! " />



  <meta name="twitter:card"
    content="Explore Saudi’s top destinations, ancient heritage and culture, breathtaking outdoor activities, and delicious local food. Discover more! " />
  <meta name="twitter:description"
    content="Explore Saudi’s top destinations, ancient heritage and culture, breathtaking outdoor activities, and delicious local food. Discover more! " />

  <meta httpEquiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />


  <!-- smartbanner starts here-->


  <meta name="apple-itunes-app" content="app-id=818179871" />
  <meta name="smartbanner:exclude-user-agent-regex" content="^.*(Version).*Safari" />
  <meta name="smartbanner:title" content="Visit Saudi - روح السعودية" />
  <meta name="smartbanner:author" content="Saudi Tourism Authority" />
  <meta name="smartbanner:price" content="Get" />
  <meta name="smartbanner:price-suffix-apple" content=" - On the App Store" />
  <meta name="smartbanner:price-suffix-google" content=" - In Google Play" />
  <meta name="smartbanner:icon-apple"
    content="https://is5-ssl.mzstatic.com/image/thumb/Purple122/v4/51/aa/4d/51aa4d37-478c-5887-c02c-79664f8991a3/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/434x0w.webp" />
  <meta name="smartbanner:icon-google"
    content="https://play-lh.googleusercontent.com/sOxdv4mI0s5rBVtlUT8M-s6g005EGFMzeuTSMzKxU6FyZWsthbpYxgwCckTcZFwyww=w480-h960-rw" />
  <meta name="smartbanner:button" content="View" />
  <meta name="smartbanner:button-url-apple"
    content="https://apps.apple.com/us/app/visit-saudi-%D8%B1%D9%88%D8%AD-%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9/id818179871" />
  <meta name="smartbanner:button-url-google"
    content="https://play.google.com/store/apps/details?id=sa.gov.apps.sauditourism&amp;hl=en&amp;gl=US" />
  <meta name="smartbanner:enabled-platforms" content="android,ios" />
  <meta name="smartbanner:close-label" content="Close" />
  <meta name="smartbanner:disable-positioning" content="true" />
  <meta name="smartbanner:hide-path" content="/" />
  <meta name="smartbanner:custom-design-modifier" content />

  <!--smart banner ends here-->
  <link rel="canonical" href="/content/sauditourism/en/test/sprint6" />


  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <!-- Enable i18n script -->
  <script>
    const i18nLabels = {};
    i18nLabels["Book this experience"] = "Book this experience";
    i18nLabels["hs"] = "hs";
    i18nLabels["from"] = "from";
    i18nLabels["to"] = "to";
    i18nLabels["cityLabel"] = "City";
    i18nLabels["Learn More"] = "Learn More";
    i18nLabels["See More"] = "See More";
    i18nLabels["Day"] = "Day";
  </script>
  <!-- End Enable i18n script -->
  <!-- Adobe Analytics Embed Code start -->
  <script>
    window.digitalData = {
      page: {
        server: "dev-revamp.visitsaudi.com", // <Server Name>, //Server name is the domain of the web page
        channel: "",// <Channel>, //Site section
        pageType: "base-content-page", // <Page Type>
        pageName: "Sprint6", // < customized page name>, as per page name strategy, delimited using colon
        siteCountry: "en" // <Site Country>, country of website opened
      },
      userinfo: {
        loggedIn: "guest",//<login Status> //can have values 'logged-in' or 'guest',
        userID: "",//<should only be tracked if activated for the site (default no tracking of the ID)> set this only for logged in user
        countryCode: "en",// <countryCode:<country from the login, not from current website country>
        language: "en"//<language from the login, not from current website country>
      }
    };
  </script>
  <!-- Adobe Analytics Embed Code end-->

  <script>
    window.appEventData = [{
      "event": "Data Layer Established",
      "page": {
        "canonicalURL": (location.protocol + '//' + location.host + "/content/sauditourism/en/test/sprint6").replace("/content/sauditourism", ""),
        "siteLanguage": "en",
        "lastModifiedDate": ("2023-10-05T12:14:45.591Z").split(".")[0] + "Z",
        "authoredByManifest": ("contentAuthors").includes
          ("manifest") ? "contentAuthors" : ""
      }
    }];
  </script>

  <script>
    window.pageInfo = {
      category: '',
      country: '',
      language: '',
      path: '/content/sauditourism/en/test/sprint6',
      search: {
        keyword: '',
        results: ''
      },
      title: 'Sprint6',
      type: 'base-content-page'
    }
  </script>













  <!-- Google Tag Manager -->
  <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PQKR2QZ');
  </script>
  <script>






  </script>
  <!-- End Google Tag Manager -->








  <link rel="stylesheet"
    href="/etc.clientlibs/sauditourism/clientlibs/clientlib-base.21f7f865b0a8087b90020485e13a8a5d.css" type="text/css">

</head>



<body data-cmp-data-layer-enabled data-page-theme="green">
  <div id="app">

    <!-- partial: component/layout/app/app.hbs -->
    <div data-component="app-root">
      <div class="root responsivegrid">


        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

          <div class="menu contentfragment aem-GridColumn aem-GridColumn--default--12">
            <div data-component="MainMenu" data-props="{
              &#34;searchBox&#34;: {
                &#34;suggestionsEndpoint&#34;: &#34;/bin/api/solr/search&#34;,
                &#34;searchPagePath&#34;: &#34;/search-result.html&#34;,
                &#34;cancelLabel&#34;: &#34;Cancel&#34;,
                &#34;clearLabel&#34;: &#34;Clear&#34;,
                &#34;clearHistoryLabel&#34;: &#34;Clear Hisyory&#34;,
                &#34;trendingBlock&#34;: &#34;&#34;,
                &#34;searchLabel&#34;: &#34;Search&#34;,
                &#34;searchModalTitle&#34;: &#34;Search&#34;,
                &#34;recentSearchLabel&#34;: &#34;Recent search&#34;,
                &#34;trending&#34;: {
                  &#34;title&#34;: &#34;Trending&#34;,
                  &#34;items&#34;:[
                  {
                    &#34;ctaLabel&#34;: &#34;Medina&#34;,
                    &#34;ctaLink&#34;: &#34;/en/see-do/destinations/medina&#34;
                  },
                  {
                    &#34;ctaLabel&#34;: &#34;Jeddah&#34;,
                    &#34;ctaLink&#34;: &#34;/en/see-do/destinations/medina&#34;
                  }]
                }
              },
          &#34;logo&#34;: {
            &#34;desktopImage&#34;: &#34;/content/dam/sauditourism/header/icon/logo1/logo1-en.svg&#34;,
            &#34;mobileImage&#34;: &#34;/content/dam/sauditourism/header/icon/logo1/logo1-mobile.svg&#34;
          },
          &#34;data&#34;: [
            {
              &#34;title&#34;: &#34;Destinations &#34;,
              &#34;ctaLink&#34;: &#34;https://qa-revamp.visitsaudi.com/en/revamp/destinations/saudi-destinations&#34;,
              &#34;data&#34;: [
                {
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;/content/dam/travel-regulations/Travel_Regulations_Banner.jpg&#34;,
                    &#34;mobileImageReference&#34;: &#34;/content/dam/travel-regulations/Travel_Regulations_Banner.jpg&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner&#34;,
                    &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner:crop-660x337?defaultImage\u003dTravel_Regulations_Banner&#34;,
                    &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner:crop-600x600?defaultImage\u003dTravel_Regulations_Banner&#34;,
                    &#34;breakpoints&#34;: [
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner:crop-660x337?defaultImage\u003dTravel_Regulations_Banner\u0026wid\u003d375\u0026hei\u003d191 375w&#34;,
                        &#34;media&#34;: &#34;(max-width: 768px)&#34;
                      },
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner:crop-600x600?defaultImage\u003dTravel_Regulations_Banner\u0026wid\u003d375\u0026hei\u003d375 375w&#34;
                      }
                    ],
                    &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/Travel_Regulations_Banner:crop-660x337?defaultImage\u003dTravel_Regulations_Banner\u0026wid\u003d375\u0026hei\u003d191&#34;
                  },
                  &#34;ctaLabel&#34;: &#34;Saudi&#34;,
                  &#34;ctaLink&#34;: &#34;/en/revamp/destinations/saudi-destinations&#34;
                }
              ]
            },
            {
              &#34;title&#34;: &#34;Things To Do&#34;,
              &#34;ctaLink&#34;: &#34;/en/revamp/see-do/nature&#34;,
              &#34;viewAllLabel&#34;: &#34;View All&#34;,
              &#34;viewAllLink&#34;: &#34;/en/revamp/Traveler-Destinations&#34;,
              &#34;data&#34;: [
                {
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;/content/dam/NEW-summer-campaign-app-960x1280.jpg&#34;,
                    &#34;mobileImageReference&#34;: &#34;/content/dam/NEW-summer-campaign-app-960x1280.jpg&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280&#34;,
                    &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280&#34;,
                    &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-600x600?defaultImage\u003dNEW-summer-campaign-app-960x1280&#34;,
                    &#34;breakpoints&#34;: [
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d191 375w&#34;,
                        &#34;media&#34;: &#34;(max-width: 768px)&#34;
                      },
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-600x600?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d375 375w&#34;
                      }
                    ],
                    &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d191&#34;
                  },
                  &#34;ctaLabel&#34;: &#34;Nature&#34;,
                  &#34;ctaLink&#34;: &#34;/en/revamp/see-do/nature&#34;
                },
                {
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;/content/dam/shopping Rectangle (1).png&#34;,
                    &#34;mobileImageReference&#34;: &#34;/content/dam/shopping Rectangle (1).png&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/shopping Rectangle (1)&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/shopping Rectangle (1)&#34;,
                    &#34;desktopImage&#34;: &#34;&#34;,
                    &#34;mobileImage&#34;: &#34;&#34;,
                    &#34;breakpoints&#34;: [
                      {
                        &#34;srcset&#34;: &#34;?wid\u003d375\u0026hei\u003d191 375w&#34;,
                        &#34;media&#34;: &#34;(max-width: 768px)&#34;
                      },
                      {
                        &#34;srcset&#34;: &#34;?wid\u003d375\u0026hei\u003d375 375w&#34;
                      }
                    ],
                    &#34;defaultImage&#34;: &#34;?wid\u003d375\u0026hei\u003d191&#34;
                  },
                  &#34;ctaLabel&#34;: &#34;Shopping&#34;,
                  &#34;ctaLink&#34;: &#34;/en/revamp/see-do/shopping&#34;
                },
                {
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;/content/dam/NEW-summer-campaign-app-960x1280.jpg&#34;,
                    &#34;mobileImageReference&#34;: &#34;/content/dam/NEW-summer-campaign-app-960x1280.jpg&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280&#34;,
                    &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280&#34;,
                    &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-600x600?defaultImage\u003dNEW-summer-campaign-app-960x1280&#34;,
                    &#34;breakpoints&#34;: [
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d191 375w&#34;,
                        &#34;media&#34;: &#34;(max-width: 768px)&#34;
                      },
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-600x600?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d375 375w&#34;
                      }
                    ],
                    &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/NEW-summer-campaign-app-960x1280:crop-660x337?defaultImage\u003dNEW-summer-campaign-app-960x1280\u0026wid\u003d375\u0026hei\u003d191&#34;
                  },
                  &#34;ctaLabel&#34;: &#34;Nature&#34;,
                  &#34;ctaLink&#34;: &#34;/en/revamp/see-do/nature&#34;
                }
              ]
            },
            {
              &#34;title&#34;: &#34;Plan your trip&#34;,
              &#34;ctaLink&#34;: &#34;/en/test/sprint6/menu-demo/plan-your-trip&#34;,
              &#34;viewAllLabel&#34;: &#34;View All&#34;,
              &#34;viewAllLink&#34;: &#34;/en/test/sprint6/menu-demo/plan-your-trip&#34;,
              &#34;data&#34;: [
                {
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;/content/dam/summer_season_banner.jpg&#34;,
                    &#34;mobileImageReference&#34;: &#34;/content/dam/summer_season_banner.jpg&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner&#34;,
                    &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner:crop-660x337?defaultImage\u003dsummer_season_banner&#34;,
                    &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner:crop-600x600?defaultImage\u003dsummer_season_banner&#34;,
                    &#34;breakpoints&#34;: [
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner:crop-660x337?defaultImage\u003dsummer_season_banner\u0026wid\u003d375\u0026hei\u003d191 375w&#34;,
                        &#34;media&#34;: &#34;(max-width: 768px)&#34;
                      },
                      {
                        &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner:crop-600x600?defaultImage\u003dsummer_season_banner\u0026wid\u003d375\u0026hei\u003d375 375w&#34;
                      }
                    ],
                    &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scth/summer_season_banner:crop-660x337?defaultImage\u003dsummer_season_banner\u0026wid\u003d375\u0026hei\u003d191&#34;
                  },
                  &#34;ctaLabel&#34;: &#34;Visa regulation&#34;,
                  &#34;ctaLink&#34;: &#34;/en/test/sprint6/menu-demo/plan-your-trip/visa-regulation&#34;
                }
              ]
            },
            {
              &#34;title&#34;: &#34;Saudi Calendar&#34;,
              &#34;ctaLink&#34;: &#34;/en/calendar&#34;,
              &#34;data&#34;: []
            },
            {
              &#34;title&#34;: &#34;Saudi Map&#34;,
              &#34;ctaLink&#34;: &#34;https://map.visitsaudi.com/en&#34;,
              &#34;data&#34;: []
            }
          ],
          &#34;languages&#34;: {
            &#34;label&#34;: &#34;Language&#34;,
            &#34;data&#34;: [
              {
                &#34;ctaLabel&#34;: &#34;AR - العربية&#34;,
                &#34;ctaLink&#34;: &#34;/ar&#34;,
                &#34;isSelected&#34;: false
              },
              {
                &#34;ctaLabel&#34;: &#34;FR - FRANÇAIS&#34;,
                &#34;ctaLink&#34;: &#34;/fr&#34;,
                &#34;isSelected&#34;: false
              },
              {
                &#34;ctaLabel&#34;: &#34;EN - ENGLISH&#34;,
                &#34;ctaLink&#34;: &#34;/en&#34;,
                &#34;isSelected&#34;: true
              },
              {
                &#34;ctaLabel&#34;: &#34;DE - DEUTSCH&#34;,
                &#34;ctaLink&#34;: &#34;/de&#34;,
                &#34;isSelected&#34;: false
              },
              {
                &#34;ctaLabel&#34;: &#34;RU - РУССКИЙ&#34;,
                &#34;ctaLink&#34;: &#34;/ru&#34;,
                &#34;isSelected&#34;: false
              },
              {
                &#34;ctaLabel&#34;: &#34;ZH - 中文&#34;,
                &#34;ctaLink&#34;: &#34;/zh&#34;,
                &#34;isSelected&#34;: false
              }
            ]
          },
          &#34;evisa&#34;: {
            &#34;title&#34;: &#34;Get your Visa &#34;,
            &#34;link&#34;: &#34;/en/travel-regulations&#34;
          },
          &#34;registerLabel&#34;: &#34;Log In / Sign Up&#34;,
          &#34;userApi&#34;: {
            &#34;ssidLoginUrl&#34;: &#34;/bin/api/v1/ssid/login-url&#34;,
            &#34;domain&#34;: &#34;uat-ssid.visitsaudi.com&#34;,
            &#34;clientId&#34;: &#34;83feff33e935240b51a2abfb957dd84bb23d1e34bf92bc568474b7c8be3b28d9&#34;,
            &#34;ssidUserInfo&#34;: &#34;/bin/api/v1/ssid/userInfo&#34;,
            &#34;ssidLogoutUrl&#34;: &#34;/bin/api/v1/ssid/logout&#34;,
            &#34;getProfile&#34;: &#34;/bin/api/v2/user/get.profile&#34;,
            &#34;getTripPlansEndpoint&#34;: &#34;/bin/api/v2/user/get.trips&#34;,
            &#34;updateProfile&#34;: &#34;/bin/api/v2/user/update.profile&#34;,
            &#34;getFavorites&#34;: &#34;/bin/api/v2/user/get.favorites&#34;
          }
        }"></div>
          </div>
          <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">

            <div data-component="PromotionalBanner" data-props='{
              "type":"Story",
              "height":"large",
              "showArrows":true,
              "hideImageBrush":true,
              "logo": {
                "alt":"welcome",
                "fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
                "mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
                "s7fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
                "s7mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png"
              },
              "cards": [
              {
                "title": "Explore the Underwater",
                "description": "It is the season of legends, rivals, competition and speed.",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
                  "autorerun":true,
                  "autoplay":true
                },
                "link": {
                  "url":"https://www.google.com",
                  "copy": "Nonalcoholic Saudi Cooler",
                  "targetInNewWindow": false,
                  "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
                }
              }
              ],
              "thumbs": {
                "moreLabel":"+20 more",
                "gallery":[
                {
                  "type":"video",
                  "typeLabel":"Video",
                  "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "video":{
                    "videoFileReference":"/content/dam/sauditourism/video.mp4",
                    "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                  },
                  "location":"Location name"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                    "mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                    "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/Gathern3",
                    "s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                    "alt":"2"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "alt":"1"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                    "mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                    "s7fileReference": "https://dev-revamp.visitsaudi.com/content/dam/1920x1080IMAGE_08.png",
                    "s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                    "alt":"3"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/810x1080_Explore-3",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "alt":"4"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/culture",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "alt":"5"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"video",
                  "typeLabel":"Video",
                  "video":{
                    "videoFileReference":"/content/dam/sauditourism/video.mp4",
                    "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                  },
                  "location":"Riyadh"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"video",
                  "typeLabel":"Video",
                  "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "video":{
                    "videoFileReference":"/content/dam/sauditourism/video.mp4",
                    "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                  },
                  "location":"Riyadh"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                  },
                  "location":"Dawha"
                },
                {
                  "type":"video",
                  "typeLabel":"Video",
                  "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "video":{
                    "videoFileReference":"/content/dam/sauditourism/video.mp4",
                    "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                  },
                  "location":"Riyadh"
                },
                {
                  "type":"image",
                  "typeLabel":"Image",
                  "image": {
                    "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                    "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                    "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                    "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                  },
                  "location":"Dawha"
                }
                ]
            }
            }'>
            </div>

        <h1>Gallery details example 1</h1>
            <div data-component="MediaGallery" data-props='{
              "gallery":[
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              }
              ]
            }'>
            </div>
            <h1>Gallery details example 2</h1>

            <div data-component="MediaGallery" data-props='{
              "moreLabel":"+20 more",
              "gallery":[
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"1"
                },
                "location":"Dawha"
              }
              ]
            }'>
            </div>
            <h1>Gallery details example 3</h1>

            <div data-component="MediaGallery" data-props="{
              &#34;moreLabel&#34;: &#34;+1 more&#34;,
              &#34;gallery&#34;: [
                {
                  &#34;type&#34;: &#34;image&#34;,
                  &#34;typeLabel&#34;: &#34;Image&#34;,
                  &#34;location&#34;: &#34;Mecca&#34;,
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;mobileImageReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;s7fileReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;
                  }
                },
                {
                  &#34;type&#34;: &#34;image&#34;,
                  &#34;typeLabel&#34;: &#34;Image&#34;,
                  &#34;location&#34;: &#34;Al Madina&#34;,
                  &#34;image&#34;: {
                    &#34;fileReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;mobileImageReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;s7fileReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                    &#34;s7mobileImageReference&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;
                  }
                },
                {
                  &#34;type&#34;: &#34;video&#34;,
                  &#34;typeLabel&#34;: &#34;Video&#34;,
                  &#34;location&#34;: &#34;Jeddah&#34;,
                  &#34;thumbnail&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                  &#34;video&#34;: {
                    &#34;videoFileReference&#34;: &#34;https://scth.scene7.com/is/content/scth/MESSI-Video&#34;,
                    &#34;s7videoFileReference&#34;: &#34;https://scth.scene7.com/is/content/scth/MESSI-Video&#34;,
                    &#34;autorerun&#34;: false,
                    &#34;autoplay&#34;: false
                  }
                },
                {
                  &#34;type&#34;: &#34;video&#34;,
                  &#34;typeLabel&#34;: &#34;Video&#34;,
                  &#34;location&#34;: &#34;Al Riad&#34;,
                  &#34;thumbnail&#34;: &#34;https://i.ibb.co/KyZdZpc/story.png&#34;,
                  &#34;video&#34;: {
                    &#34;videoFileReference&#34;: &#34;https://scth.scene7.com/is/content/scth/MESSI-Video&#34;,
                    &#34;s7videoFileReference&#34;: &#34;https://scth.scene7.com/is/content/scth/MESSI-Video&#34;,
                    &#34;autorerun&#34;: false,
                    &#34;autoplay&#34;: false
                  }
                }
              ]
            }"></div>

            <div data-component="MediaGallery" data-props='{
              "gallery":[
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"1"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              }
              ]
            }'>
            </div>
            <h1>Gallery details example 4</h1>

            <div data-component="MediaGallery" data-props='{
              "moreLabel":"+20 more",
              "gallery":[
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                  "mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/Gathern3",
                  "s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
                  "alt":"2"
                },
                "location":"Dawha"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"1"
                },
                "location":"Dawha"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                  "mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                  "s7fileReference": "https://dev-revamp.visitsaudi.com/content/dam/1920x1080IMAGE_08.png",
                  "s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/The-dam",
                  "alt":"3"
                },
                "location":"Dawha"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/810x1080_Explore-3",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"4"
                },
                "location":"Dawha"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/culture",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"5"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Riyadh"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Riyadh"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Riyadh"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
                },
                "location":"Dawha"
              }
              ]
            }'
            >
            </div>

            <div data-component="StoryDetails" data-props='{
              "title":"Story example 1",
              "link":{
                "url":"content/asdasd/asdasd",
                "text":"View all",
                "targetInNewWindow": true
              },
              "description":&#34;\u003cp\u003e\u003cb\u003eWhat are the research results that support the thesis that as a result of human civilization, as a result of still increasing greenhouse gas emissions, the process of global warming in recent years has accelerated faster than previously predicted?\u003c/b\u003e\u003c/p\u003e \n\u003cp\u003eA growing number of research centers analyzing the planet\u0027s climate in the long term, analyzing the progressive process of climate change, developing long-term forecast models of climate change, changes in ocean water temps are publishing the results of their research, which show that as a result of human civilizational activity, as a result of still increasing greenhouse gas emissions, the process of global warming in recent years has accelerated faster than previously predicted just a few years ago. These institutions include, among oth or automatic text generation systems.\u003c/p\u003e&#34;,
              "directionsLink" :{
                "url":"content/asdasd/asdasd",
                "text":"Get directions",
                "targetInNewWindow": true
              },
              "gallery":[
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"1"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              },
              {
                "type":"image",
                "typeLabel":"Image",
                "image": {
                  "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
                  "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
                  "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
                  "alt":"1"
                },
                "location":"Dawha"
              },
              {
                "type":"video",
                "typeLabel":"Video",
                "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
                "video":{
                  "videoFileReference":"/content/dam/sauditourism/video.mp4",
                  "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
                },
                "location":"Location name"
              }
              ]
            }'>
            </div>
          </div>
          <div data-component="Footer" data-props="{
            &#34;fragmentDownloads&#34;: {
              &#34;ctaImageList&#34;: [
                {
                  &#34;ctaImage&#34;: &#34;/content/dam/sauditourism/app_apple.png&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaImage&#34;: &#34;/content/dam/sauditourism/app_gallery.png&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaImage&#34;: &#34;/content/dam/sauditourism/app_googleplay.png&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                }
              ],
              &#34;newsletterSubscriptionTitle&#34;: &#34;Newsletter Subscription Title&#34;,
              &#34;yourEmailAddress&#34;: &#34;ing.elouardi@gmail.com&#34;,
              &#34;joinCta&#34;: &#34;CTA&#34;,
              &#34;info&#34;: &#34;\u003cp\u003eINFO\u003c/p\u003e\n&#34;
            },
            &#34;fragmentGroup&#34;: {
              &#34;orientation&#34;: &#34;Horizontal&#34;,
              &#34;patternType&#34;: &#34;1&#34;
            },
            &#34;fragmentBranding&#34;: {
              &#34;visitSaudiLogo&#34;: &#34;/content/dam/sauditourism/footer/icon/logo1/en.svg&#34;,
              &#34;visitSaudiLogoLink&#34;: &#34;/content/sauditourism/en&#34;,
              &#34;poweredBy&#34;: &#34;SAUDIA&#34;,
              &#34;staLogo&#34;: &#34;/content/dam/sauditourism/footer/icon/logo2/stalogo_green.png&#34;,
              &#34;staLogoLink&#34;: &#34;/content/sauditourism/en&#34;
            },
            &#34;fragmentInternalLinks&#34;: {
              &#34;titleLink&#34;: &#34;Discover Saudi&#34;,
              &#34;ctaList&#34;: [
                {
                  &#34;ctaLabel&#34;: &#34;See \u0026 Do&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;Plan Your Trip&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;Travel Essentials&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                }
              ]
            },
            &#34;fragmentExternalLinks&#34;: {
              &#34;titleLink&#34;: &#34;Business \u0026 Partners&#34;,
              &#34;ctaList&#34;: [
                {
                  &#34;ctaLabel&#34;: &#34;Aseer Summer Season&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;Rethink Summer&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;Saudi Toyota Championship 2023&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                }
              ]
            },
            &#34;fragmentContact&#34;: {
              &#34;titleLink&#34;: &#34;Call Center&#34;,
              &#34;ctaList&#34;: [
                {
                  &#34;ctaLabel&#34;: &#34;Local Call Center&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;International Call Center&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                }
              ]
            },
            &#34;ctaListIcon&#34;: [
              {
                &#34;iconLabel&#34;: &#34;facebook&#34;,
                &#34;iconLink&#34;: &#34;facebook&#34;,
                &#34;isOpenInNewTab&#34;: false
              },
              {
                &#34;iconLabel&#34;: &#34;instagram&#34;,
                &#34;iconLink&#34;: &#34;instagram&#34;,
                &#34;isOpenInNewTab&#34;: false
              },
              {
                &#34;iconLabel&#34;: &#34;twitter&#34;,
                &#34;iconLink&#34;: &#34;twitter&#34;,
                &#34;isOpenInNewTab&#34;: false
              }
            ],
            &#34;fragmentContainer&#34;: {
              &#34;copyrights&#34;: &#34;Copyrights&#34;,
              &#34;upArrowCta&#34;: &#34;CTA&#34;,
              &#34;ctaList&#34;: [
                {
                  &#34;ctaLabel&#34;: &#34;Contact Us&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                },
                {
                  &#34;ctaLabel&#34;: &#34;Privacy Policy&#34;,
                  &#34;ctaLink&#34;: &#34;/content/sauditourism/en&#34;,
                  &#34;isOpenInNewTab&#34;: false
                }
              ]
            }
          }"></div>


        </div>
      </div>

    </div>
    <!-- / component/layout/app/app.hbs -->
  </div>

</body>

</html>