<!DOCTYPE html>
<html lang="en" lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body class="grid gap-4" data-page-theme="purple">
  <!-- <div data-component="HeaderSection" data-props="{
                &#34;titleImage&#34;: {
                    &#34;alt&#34;: &#34;alt image&#34;,
                    &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/Cirque-du-soleil-logo&#34;,
                    &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/Cirque-du-soleil-logo:crop-590x100?defaultImage\u003dCirque-du-soleil-logo&#34;,
                    &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/Cirque-du-soleil-logo:crop-375x280?defaultImage\u003dCirque-du-soleil-logo&#34;
                  },
                  &#34;enableManualAuthoring&#34;: false,
                  &#34;title&#34;: &#34;Event title text noting there is an image uploaded &#34;,
                  &#34;author&#34;: {
                    &#34;authorText&#34;: &#34;Fady is the author of this section&#34;,
                    &#34;image&#34;: {
                      &#34;alt&#34;: &#34;fady chebly&#34;,
                      &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/MyPic&#34;,
                      &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/MyPic:crop-660x337?defaultImage\u003dMyPic&#34;,
                      &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/MyPic:crop-80x40?defaultImage\u003dMyPic&#34;
                    },
                    &#34;authorCtaLink&#34;: &#34;/campaigns/saudi-tourism&#34;
                  }
             }"></div> -->


             <div data-component="HeaderSection" data-props="{
              &#34;enableManualAuthoring&#34;: true,
              &#34;title&#34;: &#34;Bash The Dunes, Camel Ride and Sandboarding&#34;,
              &#34;byLabel&#34;: &#34;By&#34;,
              &#34;author&#34;: {
                &#34;authorText&#34;: &#34;Riyadh trips&#34;,
                &#34;image&#34;: {
                  &#34;fileReference&#34;: &#34;/content/dam/author.png&#34;,
                  &#34;alt&#34;: &#34;image&#34;,
                  &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/author&#34;,
                  &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/author:crop-375x280?defaultImage\u003dauthor&#34;,
                  &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/author:crop-375x280?defaultImage\u003dauthor&#34;,
                  &#34;isTransparent&#34;: false
                },
                &#34;authorCtaLink&#34;: &#34;www.google.com&#34;
              }
            }"></div>
</body>

</html>