<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="green">
  <div class="w-96 px-6 py-3">

    <div data-component="InformationListWidget" data-props='{
      "idealForLabel": "مثالي لاجل",
      "languageValue": [],
      "startDate": "2023-11-01T00:00:00.000+03:00",
      "endDate": "2024-11-20T00:00:00.000+03:00",
      "openNowLabel": "مفتوح الان",
      "closedNowLabel": "مغلق الآن",
      "informationLabel": "معلومات",
      "locationLabel": "موقع",
      "durationLabel": "المدة",
      "agesLabel": "الأعمار",
      "accessibilityLabel": "إمكانية الوصول",
      "locationValue": "/content/dam/sauditourism/cf/ar/destinations/jeddah",
      "durationValue": "3-4 ساعات",
      "agesValue": "الجميع",
      "typeValue": "Tags",
      "accessibilityValue": [
        "منحدرات ومصاعد"
      ],
      "openingHoursLabel": "ساعات العمل",
      "sameTimeAcrossWeek": false,
      "openingHoursValue": [
        {
          "dayLabel": "mon",
          "startTimeLabel": "08:00",
          "endTimeLabel": "18:00"
        },
        {
          "dayLabel": "TUE",
          "startTimeLabel": "09:00",
          "endTimeLabel": "18:00"
        },
        {
          "dayLabel": "Wed",
          "startTimeLabel": "09:00",
          "endTimeLabel": "10:00"
        }
      ],
      "toLabel": "-",
      "categoriesTags": [
        {
          "id": "sauditourism:categories/food_drink",
          "title": "طعام وشراب",
          "icon": "/content/dam/sauditourism/tag-icons/categories/food_drink.svg"
        },
        {
          "id": "sauditourism:categories/entertainment/opera",
          "title": "أوبرا",
          "icon": "/content/dam/sauditourism/tag-icons/categories/entertainment/opera.svg"
        },
        {
          "id": "sauditourism:categories/classes_and_training/art",
          "title": "فن",
          "icon": "/content/dam/sauditourism/tag-icons/categories/classes_and_training/art.svg"
        }
      ]
    }'></div>
    <div data-component="InformationListWidget" data-props="{
      &#34;idealForLabel&#34;: &#34;مثالي لاجل&#34;,
      &#34;languageValue&#34;: [
        &#34;إنجليزي&#34;,
        &#34;العربية&#34;
      ],
      &#34;languageLabel&#34;: &#34;لغة&#34;,
      &#34;openNowLabel&#34;: &#34;مفتوح الان&#34;,
      &#34;closedNowLabel&#34;: &#34;نحن مغلقون الآن&#34;,
      &#34;informationLabel&#34;: &#34;معلومات&#34;,
      &#34;locationLabel&#34;: &#34;الموقع&#34;,
      &#34;durationLabel&#34;: &#34;مدة&#34;,
      &#34;agesLabel&#34;: &#34;الأعمار&#34;,
      &#34;typeLabel&#34;: &#34;نوع &#34;,
      &#34;accessibilityLabel&#34;: &#34;إمكانية الوصول&#34;,
      &#34;locationValue&#34;: &#34;الرياض&#34;,
      &#34;durationValue&#34;: &#34;3-4 ساعات&#34;,
      &#34;agesValue&#34;: &#34;18 سنة فما فوق&#34;,
      &#34;typeValue&#34;: &#34;العائلات&#34;,
      &#34;accessibilityValue&#34;: [
        &#34;منحدرات ومصاعد&#34;
      ],
      &#34;openingHoursLabel&#34;: &#34;ساعات العمل&#34;,
      &#34;sameTimeAcrossWeek&#34;: false,
      &#34;openingHoursValue&#34;: [
        {
          &#34;dayLabel&#34;: &#34;MON&#34;,
          &#34;startTimeLabel&#34;: &#34;12:00&#34;,
          &#34;endTimeLabel&#34;: &#34;22:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;TUE&#34;,
          &#34;startTimeLabel&#34;: &#34;10:00&#34;,
          &#34;endTimeLabel&#34;: &#34;23:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;WED&#34;,
          &#34;startTimeLabel&#34;: &#34;14:00&#34;,
          &#34;endTimeLabel&#34;: &#34;20:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;THU&#34;,
          &#34;startTimeLabel&#34;: &#34;10:00&#34;,
          &#34;endTimeLabel&#34;: &#34;20:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;FRI&#34;,
          &#34;startTimeLabel&#34;: &#34;12:00&#34;,
          &#34;endTimeLabel&#34;: &#34;22:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;SAT&#34;,
          &#34;startTimeLabel&#34;: &#34;12:00&#34;,
          &#34;endTimeLabel&#34;: &#34;22:00&#34;
        },
        {
          &#34;dayLabel&#34;: &#34;SUN&#34;,
          &#34;startTimeLabel&#34;: &#34;12:00&#34;,
          &#34;endTimeLabel&#34;: &#34;22:00&#34;
        }
      ],
      &#34;toLabel&#34;: &#34;الى&#34;,
      &#34;categoriesTags&#34;: [
        {
          &#34;id&#34;: &#34;sauditourism:categories/culture_history&#34;,
          &#34;title&#34;: &#34;الثقافة والتاريخ&#34;,
          &#34;icon&#34;: &#34;/content/dam/sauditourism/tag-icons/categories/culture_history.svg&#34;
        },
        {
          &#34;id&#34;: &#34;sauditourism:categories/entertainment&#34;,
          &#34;title&#34;: &#34;ترفيه&#34;,
          &#34;icon&#34;: &#34;/content/dam/sauditourism/tag-icons/categories/entertainment.svg&#34;
        },
        {
          &#34;id&#34;: &#34;sauditourism:categories/food_drink&#34;,
          &#34;title&#34;: &#34;طعام وشراب&#34;,
          &#34;icon&#34;: &#34;/content/dam/sauditourism/tag-icons/categories/food_drink.svg&#34;
        }
      ]
    }"></div>

  </div>

</body>

</html>