<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Latest Stories</title>
        <meta name="template" content="page-content" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body class="page basicpage" data-page-theme="purple">
      <div data-component="LatestStories" data-props="{
        &#34;title&#34;: &#34;Latest Stories&#34;,
        &#34;cards&#34;: [
          {
            &#34;title&#34;: &#34;Vegan Burger&#34;,
            &#34;image&#34;: {
              &#34;fileReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganBurger.png&#34;,
              &#34;mobileImageReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganBurger.png&#34;,
              &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger&#34;,
              &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger&#34;,
              &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger:crop-375x667?defaultImage\u003dveganBurger&#34;,
              &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger:crop-375x667?defaultImage\u003dveganBurger&#34;,
              &#34;breakpoints&#34;: [
                {
                  &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger:crop-375x667?defaultImage\u003dveganBurger\u0026wid\u003d300\u0026hei\u003d533 300w,https://s7e5a.scene7.com/is/image/scthacc/veganBurger:crop-375x667?defaultImage\u003dveganBurger\u0026wid\u003d750\u0026hei\u003d1334 750w&#34;,
                  &#34;sizes&#34;: &#34;(max-width: 767px) 100vw, 31vw&#34;
                }
              ],
              &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganBurger:crop-375x667?defaultImage\u003dveganBurger\u0026wid\u003d300\u0026hei\u003d533&#34;
            }
          },
          {
            &#34;title&#34;: &#34;Vegan Ice &#34;,
            &#34;image&#34;: {
              &#34;fileReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganIce.png&#34;,
              &#34;mobileImageReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganIce.png&#34;,
              &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce&#34;,
              &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce&#34;,
              &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce:crop-375x667?defaultImage\u003dveganIce&#34;,
              &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce:crop-375x667?defaultImage\u003dveganIce&#34;,
              &#34;breakpoints&#34;: [
                {
                  &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce:crop-375x667?defaultImage\u003dveganIce\u0026wid\u003d300\u0026hei\u003d533 300w,https://s7e5a.scene7.com/is/image/scthacc/veganIce:crop-375x667?defaultImage\u003dveganIce\u0026wid\u003d750\u0026hei\u003d1334 750w&#34;,
                  &#34;sizes&#34;: &#34;(max-width: 767px) 100vw, 31vw&#34;
                }
              ],
              &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganIce:crop-375x667?defaultImage\u003dveganIce\u0026wid\u003d300\u0026hei\u003d533&#34;
            }
          },
          {
            &#34;title&#34;: &#34;vegan pancake&#34;,
            &#34;image&#34;: {
              &#34;fileReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganPancake.png&#34;,
              &#34;mobileImageReference&#34;: &#34;/content/dam/sauditourism/cf/en/fady_and_bob/fady/see-do/food-and-drinks/latest-stories/veganPancake.png&#34;,
              &#34;s7fileReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake&#34;,
              &#34;s7mobileImageReference&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake&#34;,
              &#34;desktopImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake:crop-375x667?defaultImage\u003dveganPancake&#34;,
              &#34;mobileImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake:crop-375x667?defaultImage\u003dveganPancake&#34;,
              &#34;breakpoints&#34;: [
                {
                  &#34;srcset&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake:crop-375x667?defaultImage\u003dveganPancake\u0026wid\u003d300\u0026hei\u003d533 300w,https://s7e5a.scene7.com/is/image/scthacc/veganPancake:crop-375x667?defaultImage\u003dveganPancake\u0026wid\u003d750\u0026hei\u003d1334 750w&#34;,
                  &#34;sizes&#34;: &#34;(max-width: 767px) 100vw, 31vw&#34;
                }
              ],
              &#34;defaultImage&#34;: &#34;https://s7e5a.scene7.com/is/image/scthacc/veganPancake:crop-375x667?defaultImage\u003dveganPancake\u0026wid\u003d300\u0026hei\u003d533&#34;
            }
          }
        ],
        &#34;link&#34;: {
          &#34;hideMap&#34;: false,
          &#34;url&#34;: &#34;https://qa-revamp.visitsaudi.com/en1&#34;,
          &#34;urlWithExtension&#34;: &#34;https://qa-revamp.visitsaudi.com/en1&#34;,
          &#34;urlSlingExporter&#34;: &#34;https://qa-revamp.visitsaudi.com/en1&#34;,
          &#34;copy&#34;: &#34;View All&#34;,
          &#34;targetInNewWindow&#34;: false
        }
      }"></div>



      
        <div
            data-component="LatestStories"
            data-props="{
    &#34;title&#34;: &#34;hello&#34;,
    &#34;cards&#34;: [
      {
        &#34;title&#34;: &#34;Story title&#34;,
        &#34;image&#34;: {
          &#34;fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;desktopImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;
        },
        &#34;tag&#34;:&#34;Natural Site&#34;,
        &#34;link&#34;: {
          &#34;hideMap&#34;: false,
          &#34;url&#34;: &#34;/content/sauditourism/en/Messi.html&#34;,
          &#34;targetInNewWindow&#34;: false
        }
      },
      {
        &#34;title&#34;: &#34;Story title&#34;,
        &#34;image&#34;: {
          &#34;fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;desktopImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;
        },
        &#34;tag&#34;:&#34;Natural Site&#34;,
        &#34;link&#34;: {
          &#34;hideMap&#34;: false,
          &#34;url&#34;: &#34;/content/sauditourism/en/Messi.html&#34;,
          &#34;targetInNewWindow&#34;: false
        }
      },
      {
        &#34;title&#34;: &#34;Story title&#34;,
        &#34;image&#34;: {
          &#34;fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7fileReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;s7mobileImageReference&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;desktopImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;,
          &#34;mobileImage&#34;: &#34;https://i.ibb.co/x2KLJyG/Rectangle-1.png&#34;
        },
        &#34;tag&#34;:&#34;Natural Site&#34;,
        &#34;link&#34;: {
          &#34;hideMap&#34;: false,
          &#34;url&#34;: &#34;/content/sauditourism/en/Messi.html&#34;,
          &#34;targetInNewWindow&#34;: false
        }
      }
    ],
    &#34;link&#34;: {
      &#34;hideMap&#34;: false,
      &#34;url&#34;: &#34;c&#34;,
      &#34;urlWithExtension&#34;: &#34;c&#34;,
      &#34;urlSlingExporter&#34;: &#34;c&#34;,
      &#34;copy&#34;: &#34;view all&#34;,
      &#34;targetInNewWindow&#34;: false
    }
  }"
        ></div>
    </body>
</html>

