<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="page basicpage" data-page-theme="purple">
  <div data-component="NeighborhoodsSection" data-props='{
    "componentId": "AreasToDiscover",
    "title": "Areas to Discover",
    "link": {
      "hideMap": false,
      "targetInNewWindow": false,
      "appType": "external"
    },
    "cards": [
      {
        "title": "Boulevard Riyadh City",
        "image": {
          "fileReference": "/content/dam/wvs/destinations/riyadh/boulevard-riyadh.jpg",
          "mobileImageReference": "/content/dam/wvs/destinations/riyadh/boulevard-riyadh.jpg",
          "s7fileReference": "https://scth.scene7.com/is/image/scthacc/boulevard-riyadh",
          "s7mobileImageReference": "https://scth.scene7.com/is/image/scthacc/boulevard-riyadh",
          "desktopImage": "https://scth.scene7.com/is/image/scthacc/boulevard-riyadh:crop-375x210?defaultImage\u003dboulevard-riyadh",
          "mobileImage": "https://scth.scene7.com/is/image/scthacc/boulevard-riyadh:crop-375x210?defaultImage\u003dboulevard-riyadh",
          "isTransparent": false
        },
        "ctaLink": "https://qa-revamp.visitsaudi.com/en/riyadh/attractions/blvd-riyadh-city"
      },
      {
        "title": "Al Murabba Historical Palace",
        "image": {
          "fileReference": "/content/dam/wvs/destinations/riyadh/al-murabba-palace.jpg",
          "mobileImageReference": "/content/dam/wvs/destinations/riyadh/al-murabba-palace.jpg",
          "s7fileReference": "https://scth.scene7.com/is/image/scthacc/al-murabba-palace",
          "s7mobileImageReference": "https://scth.scene7.com/is/image/scthacc/al-murabba-palace",
          "desktopImage": "https://scth.scene7.com/is/image/scthacc/al-murabba-palace:crop-375x210?defaultImage\u003dal-murabba-palace",
          "mobileImage": "https://scth.scene7.com/is/image/scthacc/al-murabba-palace:crop-375x210?defaultImage\u003dal-murabba-palace",
          "isTransparent": false
        },
        "ctaLink": "https://qa-revamp.visitsaudi.com/en/riyadh/attractions/al-murabba-palace"
      },
      {
        "title": "Rawdat Tinhat",
        "image": {
          "fileReference": "/content/dam/wvs/destinations/riyadh/rawdat-tinhat.jpg",
          "mobileImageReference": "/content/dam/wvs/destinations/riyadh/rawdat-tinhat.jpg",
          "s7fileReference": "https://scth.scene7.com/is/image/scthacc/rawdat-tinhat",
          "s7mobileImageReference": "https://scth.scene7.com/is/image/scthacc/rawdat-tinhat",
          "desktopImage": "https://scth.scene7.com/is/image/scthacc/rawdat-tinhat:crop-375x210?defaultImage\u003drawdat-tinhat",
          "mobileImage": "https://scth.scene7.com/is/image/scthacc/rawdat-tinhat:crop-375x210?defaultImage\u003drawdat-tinhat",
          "isTransparent": false
        },
        "ctaLink": "https://qa-revamp.visitsaudi.com/en/riyadh/attractions/rawdhat-tinhat-in-riyadh"
      }
    ]
  }'></div>

</body>

</html>