<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script defer src="/clientlib-site/runtimechunk~site.js"></script>
  <script defer src="/clientlib-site/node_vendors.js"></script>
  <script defer src="/clientlib-site/site.js"></script>
  <link href="/clientlib-site/site.css" rel="stylesheet">
</head>

<body class="page basicpage" data-page-theme="purple">
  <div class="py-3">

    <div data-component="OffersAndDeals" data-props="{
      &#34;title&#34;: &#34;Telecom Companies&#34;,
      &#34;type&#34;: &#34;offer&#34;,
      &#34;isWithOrnament&#34;: false,
      &#34;link&#34;: {
        &#34;hideMap&#34;: false,
        &#34;targetInNewWindow&#34;: false,
        &#34;appType&#34;: &#34;external&#34;
      },
      &#34;cards&#34;: [
        {
          &#34;title&#34;: &#34;/content/dam/wvs/travel-guide/stc.jpg&#34;,
          &#34;description&#34;: &#34;/content/dam/wvs/travel-guide/stc.jpg&#34;,
          &#34;title2&#34;: &#34;STARTING 1-JUN TO 30-AUG&#34;,
          &#34;description2&#34;: &#34;Yelo 25% Discount Yelo 25% Discount Yelo 25% Discount  25% Discount Yelo 25% Discount  25% Discount Yelo 25% Discount &#34;,
          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/stc.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/stc&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/stc:crop-600x600?defaultImage\u003dstc&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/stc:crop-600x600?defaultImage\u003dstc&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://www.stc.com/content/stcgroupwebsite/sa/en/who-we-are.html&#34;,
            &#34;urlWithExtension&#34;: &#34;https://www.stc.com/content/stcgroupwebsite/sa/en/who-we-are.html&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://www.stc.com/content/stcgroupwebsite/sa/en/who-we-are.html&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        },
        {
          &#34;title2&#34;: &#34;STARTING 1-JUN TO 30-AUG&#34;,
          &#34;description2&#34;: &#34;Yelo 25% Discount Yelo 25% Discount Yelo 25% Discount  25% Discount Yelo 25% Discount  25% Discount Yelo 25% Discount &#34;,

          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/mobily.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/mobily&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/mobily:crop-600x600?defaultImage\u003dmobily&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/mobily:crop-600x600?defaultImage\u003dmobily&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://www.mobily.com.sa/wps/portal/web/personal/am-overview/overview/!ut/p/z1/jVHLboMwEPyWHDgGL4YQmhuhkcJLCUWolEvlUAOuACPjUKlfXzftqWpI9rarmdmdWVSgHBU9mVhNJOM9aVX_UtivvhF6-8DCx0OwMyB5SH0Hh6kZegZ6_gOAJxOSvbW1PO-ATR-j4h6-nTzuIATj6NjgQJJF3taJ1wa46_v4cKVcuMUPbgFUAljEXlyjYiCyWbK-4ijnExUTox9qf3FRuOYA41_AXESzCt8ZXAAzJpWLuuWnn4e5_cl01LmCVlRQoZ-FGjdSDuNGAw3KblySslwKOpFu0Cc2MjmS8xvTS95t7JVlYg3-02n4KFE-S0cpEWjosiz_jKrUf1-1U1S57mLxBTrg5L4!/dz/d5/L0lHSkovd0RNQURrQUVnQSEhLzROVkUvZW4!/?account_type\u003dpersonal&#34;,
            &#34;urlWithExtension&#34;: &#34;https://www.mobily.com.sa/wps/portal/web/personal/am-overview/overview/!ut/p/z1/jVHLboMwEPyWHDgGL4YQmhuhkcJLCUWolEvlUAOuACPjUKlfXzftqWpI9rarmdmdWVSgHBU9mVhNJOM9aVX_UtivvhF6-8DCx0OwMyB5SH0Hh6kZegZ6_gOAJxOSvbW1PO-ATR-j4h6-nTzuIATj6NjgQJJF3taJ1wa46_v4cKVcuMUPbgFUAljEXlyjYiCyWbK-4ijnExUTox9qf3FRuOYA41_AXESzCt8ZXAAzJpWLuuWnn4e5_cl01LmCVlRQoZ-FGjdSDuNGAw3KblySslwKOpFu0Cc2MjmS8xvTS95t7JVlYg3-02n4KFE-S0cpEWjosiz_jKrUf1-1U1S57mLxBTrg5L4!/dz/d5/L0lHSkovd0RNQURrQUVnQSEhLzROVkUvZW4!/?account_type\u003dpersonal&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://www.mobily.com.sa/wps/portal/web/personal/am-overview/overview/!ut/p/z1/jVHLboMwEPyWHDgGL4YQmhuhkcJLCUWolEvlUAOuACPjUKlfXzftqWpI9rarmdmdWVSgHBU9mVhNJOM9aVX_UtivvhF6-8DCx0OwMyB5SH0Hh6kZegZ6_gOAJxOSvbW1PO-ATR-j4h6-nTzuIATj6NjgQJJF3taJ1wa46_v4cKVcuMUPbgFUAljEXlyjYiCyWbK-4ijnExUTox9qf3FRuOYA41_AXESzCt8ZXAAzJpWLuuWnn4e5_cl01LmCVlRQoZ-FGjdSDuNGAw3KblySslwKOpFu0Cc2MjmS8xvTS95t7JVlYg3-02n4KFE-S0cpEWjosiz_jKrUf1-1U1S57mLxBTrg5L4!/dz/d5/L0lHSkovd0RNQURrQUVnQSEhLzROVkUvZW4!/?account_type\u003dpersonal&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        },
        {
          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/zain.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/zain&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/zain:crop-600x600?defaultImage\u003dzain&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/zain:crop-600x600?defaultImage\u003dzain&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://sa.zain.com/en&#34;,
            &#34;urlWithExtension&#34;: &#34;https://sa.zain.com/en&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://sa.zain.com/en&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        },
        {
          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/go-telcome.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/go-telcome&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/go-telcome:crop-600x600?defaultImage\u003dgo-telcome&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/go-telcome:crop-600x600?defaultImage\u003dgo-telcome&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://www.go.com.sa/en/about-go&#34;,
            &#34;urlWithExtension&#34;: &#34;https://www.go.com.sa/en/about-go&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://www.go.com.sa/en/about-go&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        },
        {
          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/virgin.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/virgin&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/virgin:crop-600x600?defaultImage\u003dvirgin&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/virgin:crop-600x600?defaultImage\u003dvirgin&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://www.virgin.com/virgin-companies/virgin-mobile-ksa&#34;,
            &#34;urlWithExtension&#34;: &#34;https://www.virgin.com/virgin-companies/virgin-mobile-ksa&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://www.virgin.com/virgin-companies/virgin-mobile-ksa&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        },
        {
          &#34;image&#34;: {
            &#34;fileReference&#34;: &#34;/content/dam/wvs/travel-guide/jawwy.jpg&#34;,
            &#34;s7fileReference&#34;: &#34;https://scth.scene7.com/is/image/scthacc/jawwy&#34;,
            &#34;desktopImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/jawwy:crop-600x600?defaultImage\u003djawwy&#34;,
            &#34;mobileImage&#34;: &#34;https://scth.scene7.com/is/image/scthacc/jawwy:crop-600x600?defaultImage\u003djawwy&#34;,
            &#34;isTransparent&#34;: false
          },
          &#34;link&#34;: {
            &#34;hideMap&#34;: false,
            &#34;url&#34;: &#34;https://www.jawwy.sa/content/jawwy/en/home.html&#34;,
            &#34;urlWithExtension&#34;: &#34;https://www.jawwy.sa/content/jawwy/en/home.html&#34;,
            &#34;urlSlingExporter&#34;: &#34;https://www.jawwy.sa/content/jawwy/en/home.html&#34;,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cta&#34;: {
            &#34;hideMap&#34;: false,
            &#34;targetInNewWindow&#34;: false,
            &#34;appType&#34;: &#34;external&#34;
          },
          &#34;cardCtaData&#34;: {}
        }
      ],
      &#34;ctaData&#34;: {}
    }"></div>

  </div>
  <div class="py-3">
    <div data-component="OffersAndDeals" data-props='
    {
      "ctaData": {
        "ctaEventName": "cta event name",
        "pageCategory": "cta event page category",
        "pageSubCategory": "cta event page sub category",
        "sectionName": "cta event section name"
      },
      "title": "title",
      "type": "deal",
      "isWithOrnament": true,
      "link": {
        "hideMap": false,
        "url": "/content/sauditourism/en/saudi-stopover",
        "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
        "urlSlingExporter": "/saudi-stopover",
        "targetInNewWindow": false,
        "text": "more deals",
        "appType": "calendar"
      },
     
      "cards": [
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "cardCtaData": {
            "ctaEventName": "card cta event name",
            "pageCategory": "card cta event page category",
            "pageSubCategory": "card cta event page sub category",
            "sectionName": "card cta event section name"
          },
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "cta": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        }
      ],
      "link": {
        "url": "/content/sauditourism/en.html",
        "text": "View deal"
      }
    }
    '></div>

  </div>

  <div class="py-3">
    <div data-component="OffersAndDeals" data-props='
    {
      "title": "title",
      "type": "offer",
      "link": {
        "hideMap": false,
        "url": "/content/sauditourism/en/saudi-stopover",
        "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
        "urlSlingExporter": "/saudi-stopover",
        "targetInNewWindow": false,
        "text": "more deals",
        "appType": "calendar"
      },
      "cards": [
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        },
        {
          "title": "Title goes here",
          "description": "Check out the amazing car rental deals. A wide range of cars that would suit all needs and budgets. Hire your car now.",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "text": "more deals",
            "appType": "calendar"
          },
          "image": {
            "fileReference": "https://i.ibb.co/QkkTk1X/image-2.png",
            "alt": "biking",
            "s7fileReference": "https://i.ibb.co/QkkTk1X/image-2.png"
          }
        }
      ],
      "link": {
        "url": "/content/sauditourism/en.html",
        "text": "View deal"
      }
    }
    
    '></div>
    <div data-component="OffersAndDeals" data-props='{
      "title": "Offers",
      "type": "deal",
      "bgTransparent": "true",
      "isWithOrnament": false,
      "link": {
        "hideMap": false,
        "url": "/content/sauditourism/en/seasons",
        "urlWithExtension": "/content/sauditourism/en/seasons.html",
        "urlSlingExporter": "/seasons",
        "targetInNewWindow": false,
        "text": "Global",
        "appType": "internal"
      },
      "cards": [
        {
          "title": "Card",
          "description": "Lorem Ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum",
          "image": {
            "fileReference": "/content/dam/sauditourism/red-sea.jpeg",
            "s7fileReference": "/content/dam/sauditourism/red-sea.jpeg",
            "desktopImage": "/content/dam/sauditourism/red-sea.jpeg",
            "mobileImage": "/content/dam/sauditourism/red-sea.jpeg",
            "isTransparent": true
          },
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/saudi-stopover",
            "urlWithExtension": "/content/sauditourism/en/saudi-stopover.html",
            "urlSlingExporter": "/saudi-stopover",
            "targetInNewWindow": false,
            "appType": "internal"
          },
          "cta": {
            "hideMap": false,
            "url": "/content/sauditourism/en/seasons",
            "urlWithExtension": "/content/sauditourism/en/seasons.html",
            "urlSlingExporter": "/seasons",
            "targetInNewWindow": false,
            "text": "CTA 2",
            "appType": "internal"
          },
          "cardCtaData": {}
        }
      ],
      "ctaData": {}
    }'></div>

  </div>

</body>

</html>