<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Popup page</title>
        <meta name="template" content="page-content" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body class="page basicpage" data-page-theme="purple">
        <div class="grid gap-4">
            <div
                data-component="Popup"
                data-props='
                {
                    "type": "default",
                    "title": "default popup",
                    "subTitle": "default subtitle",
                    "text": "popup text",
                    "cat1": { "label": "Cancel"},
                    "cat2": {"label": "Refresh"}
                  }
                '
            ></div>
            <!-- <div
                data-component="Popup"
                data-props='
                {
                    "type": "success",
                    "title": "success Popup",
                    "subTitle": "success subtitle",
                    "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada mi quis massa maximus, eget consectetur ipsum volutpat",
                    "cat2": {"label": "Done"}
                  }
                '
            ></div>
            <div
                data-component="Popup"
                data-props='
                {
                    "type": "warning",
                    "title": "warning Popup",
                    "subTitle": "warning subtitle",
                    "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada mi quis massa maximus, eget consectetur ipsum volutpat",
                    "cat1": {"label": "cancel" },
                    "cat2": { "label": "validate" }
                  }
                '
            ></div>
            <div
                data-component="Popup"
                data-props='
                {
                    "type": "error",
                    "title": "Error Popup",
                    "subTitle": "error subtitle",
                    "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada mi quis massa maximus, eget consectetur ipsum volutpat",
                    "cat2": { "label": "confirm" }
                  }
                '
            ></div> -->
        </div>
    </body>
</html>

