<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Latest Stories</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  </script>
</head>

<body class="page basicpage" data-page-theme="purple">

  <div data-component="PromotionalBanner" data-props='{
      "type": "Story",
      "height": "small",
      "isNotOnTop": true,
      "showArrows": true,
      "logoSize": "small",
      "hideImageBrush": true,
      "cards": [
          {
              "link": {
                  "hideMap": false,
                  "url": "https://book.visitsaudi.com/sa-en/experiences/al-ula-1/adventures-and-activities/clay-cardamon-clay-engraving-and-lunch-experience",
                  "urlWithExtension": "https://book.visitsaudi.com/sa-en/experiences/al-ula-1/adventures-and-activities/clay-cardamon-clay-engraving-and-lunch-experience",
                  "urlSlingExporter": "https://book.visitsaudi.com/sa-en/experiences/al-ula-1/adventures-and-activities/clay-cardamon-clay-engraving-and-lunch-experience",
                  "copy": "Book Now",
                  "targetInNewWindow": false,
                  "appEventData": "{\"event\":null,\"linkURL\":\"https://book.visitsaudi.com/sa-en/experiences/al-ula-1/adventures-and-activities/clay-cardamon-clay-engraving-and-lunch-experience\",\"linkTitle\":\"Book Now\",\"vendorName\":null,\"packageName\":\"\"}",
                  "appType": "external"
              },
              "video": {
                  "autorerun": true,
                  "autoplay": true
              },
              "thumbnail": {
                  "isTransparent": false
              },
              "title": "Clay Engraving and Lunch Experience",
              "ctaData": {},
              "image": {
                  "fileReference": "/content/dam/wvs/messi/experience-clay-desktop.jpg",
                  "s7fileReference": "https://scth.scene7.com/is/image/scthacc/experience-clay-desktop",
                  "desktopImage": "https://scth.scene7.com/is/image/scthacc/experience-clay-desktop:crop-660x337?defaultImage\u003dexperience-clay-desktop",
                  "mobileImage": "https://scth.scene7.com/is/image/scthacc/experience-clay-desktop:crop-460x620?defaultImage\u003dexperience-clay-desktop",
                  "breakpoints": [
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/experience-clay-desktop:crop-460x620?defaultImage\u003dexperience-clay-desktop\u0026wid\u003d460\u0026hei\u003d620 460w",
                          "media": "(max-width: 420px)"
                      },
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/experience-clay-desktop:crop-660x337?defaultImage\u003dexperience-clay-desktop\u0026wid\u003d660\u0026hei\u003d337 660w"
                      }
                  ],
                  "isTransparent": false
              }
          },
          {
              "link": {
                  "hideMap": false,
                  "url": "https://tickets.experiencealula.com/en/experiences/hegra-day-tour?groupAlias\u003dalula-heritage",
                  "urlWithExtension": "https://tickets.experiencealula.com/en/experiences/hegra-day-tour?groupAlias\u003dalula-heritage",
                  "urlSlingExporter": "https://tickets.experiencealula.com/en/experiences/hegra-day-tour?groupAlias\u003dalula-heritage",
                  "copy": "Book Now",
                  "targetInNewWindow": false,
                  "appEventData": "{\"event\":null,\"linkURL\":\"https://tickets.experiencealula.com/en/experiences/hegra-day-tour?groupAlias\u003dalula-heritage\",\"linkTitle\":\"Book Now\",\"vendorName\":null,\"packageName\":\"\"}",
                  "appType": "external"
              },
              "video": {
                  "autorerun": true,
                  "autoplay": true
              },
              "thumbnail": {
                  "isTransparent": false
              },
              "title": "Explore Hegra and More   ",
              "ctaData": {},
              "image": {
                  "fileReference": "/content/dam/wvs/messi/messi-page-alhegra-mob.jpg",
                  "s7fileReference": "https://scth.scene7.com/is/image/scthacc/messi-page-alhegra-mob",
                  "desktopImage": "https://scth.scene7.com/is/image/scthacc/messi-page-alhegra-mob:crop-660x337?defaultImage\u003dmessi-page-alhegra-mob",
                  "mobileImage": "https://scth.scene7.com/is/image/scthacc/messi-page-alhegra-mob:crop-460x620?defaultImage\u003dmessi-page-alhegra-mob",
                  "breakpoints": [
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/messi-page-alhegra-mob:crop-460x620?defaultImage\u003dmessi-page-alhegra-mob\u0026wid\u003d460\u0026hei\u003d620 460w",
                          "media": "(max-width: 420px)"
                      },
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/messi-page-alhegra-mob:crop-660x337?defaultImage\u003dmessi-page-alhegra-mob\u0026wid\u003d660\u0026hei\u003d337 660w"
                      }
                  ],
                  "isTransparent": false
              }
          },
          {
              "link": {
                  "hideMap": false,
                  "url": "https://www.diriyah.sa/bujairi-terrace",
                  "urlWithExtension": "https://www.diriyah.sa/bujairi-terrace",
                  "urlSlingExporter": "https://www.diriyah.sa/bujairi-terrace",
                  "copy": "Book Now",
                  "targetInNewWindow": false,
                  "appEventData": "{\"event\":null,\"linkURL\":\"https://www.diriyah.sa/bujairi-terrace\",\"linkTitle\":\"Book Now\",\"vendorName\":null,\"packageName\":\"\"}",
                  "appType": "external"
              },
              "video": {
                  "autorerun": true,
                  "autoplay": true
              },
              "thumbnail": {
                  "isTransparent": false
              },
              "title": "Dine at Bujairi Terrace in Diriyah ",
              "ctaData": {},
              "image": {
                  "fileReference": "/content/dam/wvs/messi/messi-page-diriyah-at-nighht-mob.jpg",
                  "s7fileReference": "https://scth.scene7.com/is/image/scthacc/messi-page-diriyah-at-nighht-mob",
                  "desktopImage": "https://scth.scene7.com/is/image/scthacc/messi-page-diriyah-at-nighht-mob:crop-660x337?defaultImage\u003dmessi-page-diriyah-at-nighht-mob",
                  "mobileImage": "https://scth.scene7.com/is/image/scthacc/messi-page-diriyah-at-nighht-mob:crop-460x620?defaultImage\u003dmessi-page-diriyah-at-nighht-mob",
                  "breakpoints": [
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/messi-page-diriyah-at-nighht-mob:crop-460x620?defaultImage\u003dmessi-page-diriyah-at-nighht-mob\u0026wid\u003d460\u0026hei\u003d620 460w",
                          "media": "(max-width: 420px)"
                      },
                      {
                          "srcset": "https://scth.scene7.com/is/image/scthacc/messi-page-diriyah-at-nighht-mob:crop-660x337?defaultImage\u003dmessi-page-diriyah-at-nighht-mob\u0026wid\u003d660\u0026hei\u003d337 660w"
                      }
                  ],
                  "isTransparent": false
              }
          }
      ],
      "logo": {
          "isTransparent": false
      }
  }'></div>



  <div data-component="PromotionalBanner" data-props='{
    "enableManualAuthoring": true,
    "isNotOnTop": false,
    "hideImageBrush": "true",
    "type": "HomeBanner",
    "cards": [
      {
        "title": "Riyadh Season ",
        "description": "It is the season of legends, rivals",
        "image": {
          "breakpoints": [],
          "isTransparent": false
        },
        "video": {
          "videoFileReference": "/content/dam/boulevard.mp4",
          "s7videoFileReference": "https://s7e5a.scene7.com/is/content/scthacc/boulevard",
          "autorerun": true,
          "autoplay": false
        }
      }
    ],
    "thumbs": {}
  }'></div>


  <div data-component="PromotionalBanner" data-props='{
    "componentId":"promotionalBanner",
    "type":"Story",
    "height":"large",
    "showArrows":true,
    "hideImageBrush":true,
    "ctaData": {
      "ctaEventName": "Event Name",
      "pageCategory": "Event page Category",
      "pageSubCategory": "Event page Sub Category",
      "sectionName": "Event section Name"
    },
    "logo": {
      "alt":"welcome",
      "fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
      "mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
      "s7fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
      "s7mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png"
    },
    "cards": [
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "ctaData": {
        "ctaEventName": "Event Name",
        "pageCategory": "Event page Category",
        "pageSubCategory": "Event page Sub Category",
        "sectionName": "Event section Name"
      },
      "video":{
        "videoFileReference":"/content/dam/sauditourism/video.mp4",
        "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video",
        "autorerun":"true",
        "autoplay":"true"
      },
      "link": {
        "url":"https://www.google.com",
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    },
      {
        "title": "Explore the Underwater",
        "subTitle": "It is the season of legends, rivals, competition and speed.",
        "newPrice":"50,000 SAR",
        "oldPrice":"From 13,840 SAR 16",
        "image": {
          "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
          "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
          "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
          "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
        },
        "logo":{
          "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
          "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
          "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
          "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
        },
        "link": {
          "copy": "Nonalcoholic Saudi Cooler",
          "targetInNewWindow": false,
          "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
        }
      },
      {
        "title": "Explore the Underwater",
        "subTitle": "It is the season of legends, rivals, competition and speed.",
        "newPrice":"50,000 SAR",
        "oldPrice":"From 13,840 SAR 16",
        "image": {
          "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
          "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
          "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
          "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
        },
        "link": {
          "copy": "Nonalcoholic Saudi Cooler",
          "targetInNewWindow": false,
          "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
        }
      }
    ]
  }'>
  </div>
  <div data-component="PromotionalBanner" data-props='{
  "type":"Story",
  "height":"medium",
  "showArrows":true,
  "hideImageBrush":true,
  "cards": [
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "url":"www.facebook.com",
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    },
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    },
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    }
  ]
}'>
  </div>
  <div data-component="PromotionalBanner" data-props='{
  "type":"Story",
  "height":"small",
  "showArrows":true,
  "hideImageBrush":true,
  "cards": [
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "url":"www.facebook.com",
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    },
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    },
    {
      "title": "Explore the Underwater",
      "description": "It is the season of legends, rivals, competition and speed.",
      "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "link": {
        "copy": "Nonalcoholic Saudi Cooler",
        "targetInNewWindow": false,
        "appEventData": "{\"event\":\"Tour Package CTA Clicked\",\"linkURL\":null,\"linkTitle\":null,\"vendorName\":null,\"packageName\":\"\"}"
      }
    }
  ]
}'>
  </div>
  <div data-component="PromotionalBanner" data-props='{
  "type": "HomeBanner",
  "hideImageBrush":true,
  "showArrows":true,
  "cards": [
    {
      "title": "Saudi Destinations",
      "description": "It is the season of legends, rivals",
      "image": {
        "alt":"welcome",
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/mcXy7Hq/asian-couple-walking-in-the-valley-of-wadi-al-disah-1.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/mcXy7Hq/asian-couple-walking-in-the-valley-of-wadi-al-disah-1.png"
      },
      "replaceTitleWithLogo": false,
      "logo": {
        "alt":"welcome",
        "fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
        "mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
        "s7fileReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png",
        "s7mobileImageReference": "https://i.ibb.co/9NyJ6xK/gea-logo-dark-3.png"
      }
    }
  ],
  "thumbs": {
    "moreLabel":"+20 more",
    "gallery":[
    {
      "type":"video",
      "typeLabel":"Video",
      "thumbnail":"https://s7e5a.scene7.com/is/image/scth/tayebat",
      "video":{
        "videoFileReference":"/content/dam/sauditourism/video.mp4",
        "s7videoFileReference":"https://scth.scene7.com/is/content/scth/MESSI-Video"
      },
      "location":"Location name"
    },
    {
      "type":"image",
      "typeLabel":"Image",
      "image": {
        "fileReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
        "mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
        "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/Gathern3",
        "s7mobileImageReference": "https://s7e5a.scene7.com/is/image/scth/tarout",
        "alt":"2"
      },
      "location":"Dawha"
    },
    {
      "type":"image",
      "typeLabel":"Image",
      "image": {
        "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://s7e5a.scene7.com/is/image/scth/tayebat",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "alt":"1"
      },
      "location":"Dawha"
    },
    {
      "type":"image",
      "typeLabel":"Image",
      "image": {
        "fileReference": "https://i.ibb.co/KyZdZpc/story.png",
        "mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png",
        "s7fileReference": "https://i.ibb.co/tKXGmmD/Image-Placeholder-1.png",
        "s7mobileImageReference": "https://i.ibb.co/6JLP3Pm/mob.png"
      },
      "location":"Dawha"
    }
  ]
}
}'>
  </div>
</body>

</html>