<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Promotional Section</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage bg-slate-200" data-page-theme="purple">

  <div data-component="PromotionalSection" data-props='{
      "title":"Start building your Itineraries",
      "subTitle":"Get ready for unique and personalized trip",
      "ctaLabel":"Create a new itinerary",
      "ctaLink":"https://qa-revamp.visitsaudi.com/en/revamp/destinations/saudi-destinations.html?asasasa\u003dasas",
      "ctaData":{},
      "image":{"fileReference":"https://qa-revamp.visitsaudi.com/content/dam/sauditourism/cf/en/fady_and_bob/bob/about-saudi-page/about-saudi-images/promSectionDestination1.png",
      "alt":"prmotional image",
      "breakpoints":[],
      "isTransparent":true}}'></div>




  <div data-component="PromotionalSection" data-props='{
      "title": "اتصل بنا",
      "subTitle": "أرسل لنا رسالة أو شكوى أو استفسار عن طريق ملء نموذج الاتصال أدناه",
      "ctaLabel": "اعرف أكثر",
      "ctaLink": "https://qa-revamp.visitsaudi.com/ar/revamp/contact-us",
      "ctaData": {
        "ctaEventName": "Event Name",
        "pageCategory": "Event page Category",
        "pageSubCategory": "Event page Sub Category",
        "sectionName": "Event section Name"
      },
      "image": {
        "fileReference": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha",
        "alt": "Alt text of image",
        "s7fileReference": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha",
        "desktopImage": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha",
        "mobileImage": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha",
        "breakpoints": [
          {
            "srcset": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha"
          }
        ],
        "defaultImage": "https://scth.scene7.com/is/image/scthacc/Frame:crop-275x275?defaultImage=Frame&fmt=png-alpha",
        "isTransparent": true
      }
    }
    '>
  </div>
</body>

</html>