<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>

<body class="page basicpage" data-page-theme="green">

  <div class="reachus-wrapper lg:px-100">
    <!-- start wrapper container -->
    <div class="wrapper lg:flex  content-center gap-10 lg:m-auto mx-[20px]">

      <div class="w-full bg-white rounded-[16px] lg:mb-0 mb-[20px] h-auto">
        <!-- start phone ReachUs component -->
        <div data-component="ReachUs" data-props='{
        "type": "PHONE_CARD",
        "title": "By Phone",
        "variation":"big",
        "phoneCard": {
          "callUsCta":"Call Us",
          "isWithDropdown":false,
          "liveLabel": "Live",
          "offlineLabel": "Off line",
          "contactItems": [
            {
              "countryFlag": "https://www.visitsaudi.com/content/dam/flags/India.png",
              "countryCode": "in",
              "phoneNumber": "009627123123128",
              "contactName":"Andia1"
            },{
              "countryFlag": "https://www.visitsaudi.com/content/dam/flags/Jordan.png",
              "countryCode": "in2",
              "phoneNumber": "00962712312328",
              "contactName":"Andia2"
            }
          ]
        }
      }'></div>
        <!-- end phone ReachUs component -->
      </div>

      <!-- start media cards and quick link card wrapper -->
      <div class="w-full">

        <!-- start media ReachUs component -->
        <div data-component="ReachUs" data-props='{
      "type": "SOCIAL_MEDIA_CARD",
      "title": "On Social Media",
      "socialMediaCards": [
        {
          "icon": "instagram",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        },
        {
          "icon": "facebook",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        },
        {
          "icon": "facebook",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        },
        {
          "icon": "facebook",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        },
        {
          "icon": "instagram",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        },
        {
          "icon": "linkedin",
          "link": {
            "hideMap": false,
            "url": "/content/sauditourism/en/shopping-in-saudi",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        }
      ]
    }'></div>

        <!-- end media ReachUs component -->

        <!-- start quick link ReachUs component -->
        <div class="lg:flex flex-row lg:gap-6 gap-[20px]">
          <div data-component="ReachUs"  data-props='{
            "type": "QUICK_LINK_CARD",
            "title": "Chat With Us",
            "quickLinkCard": 
              {
                "subTitle": "Chat With Us",
                "link": {
                  "hideMap": false,
                  "url": "https://api.whatsapp.com/send?phone=966114907617",
                  "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
                  "urlSlingExporter": "/shopping-in-saudi",
                  "targetInNewWindow": false,
                  "text": "View on Maps",
                  "appType": "calendar"
                }
              }
          }'></div>
          <div data-component="ReachUs"  data-props='{
      "type": "QUICK_LINK_CARD",
      "title": "Chat With Us",
      "quickLinkCard": 
        {
          "subTitle": "Chat With Us",
          "link": {
            "hideMap": false,
            "url": "mailto:ask@visitsaudi.com",
            "urlWithExtension": "/content/sauditourism/en/shopping-in-saudi.html",
            "urlSlingExporter": "/shopping-in-saudi",
            "targetInNewWindow": false,
            "text": "View on Maps",
            "appType": "calendar"
          }
        }
    }'></div>

        </div>
        <!-- end quick link ReachUs component -->
      </div>
      <!-- end media cards and quick link card wrapper -->


    </div>
    <!-- start wrapper container -->

    <!-- start wrapper container -->
    <div class="lg:flex content-center gap-10 lg:m-auto mx-[20px] lg:mt-10 mt-[20px]">

      <div class="w-full bg-white rounded-[16px] h-auto lg:mb-0 mb-[20px]">
        <!-- start phone ReachUs component -->
        <div data-component="ReachUs" data-props='{
        "type": "PHONE_CARD",
        "title": "Emergency numbers in Saudi",
        "variation":"big",
        "phoneCard": {
          "isWithDropdown":true,
          "callUsCta":"Call Us",
          "liveLabel": "Live",
          "offlineLabel": "Off line",
          "contactItems": [
          {
            "countryCode": "in",
            "phoneNumber": "009627123123128",
            "contactName":"Andia1"
          }
          ]
        }
      }'></div>
        <!-- end phone ReachUs component -->
      </div>

      <!-- start media cards and quick link card wrapper -->
      <div class="w-full">
        <!-- start quick link ReachUs component -->
        <div class="lg:flex flex-row lg:gap-6 gap-[20px]">
          <!-- start phone ReachUs component -->
          <div data-component="ReachUs" data-props='{
          "type": "PHONE_CARD",
          "variation": "small",
          "title": "Police number in Riyadh, Makkah, and Eastern provinces",
          "phoneCard": {
            "callUsCta": "Call",
            "liveLabel": "Live",
            "offlineLabel": "Off line",
            "phoneNumber": "+11111"
          },
          "quickLinkCard": {
            "link": {
              "hideMap": false,
              "targetInNewWindow": false,
              "appType": "external"
            }
          }
        }'></div>
          <!-- end phone ReachUs component -->

          <!-- start phone ReachUs component -->
          <div data-component="ReachUs" data-props='{
              "type": "PHONE_CARD",
              "variation": "small",
              "title": "Police number in Riyadh, Makkah, and Eastern provinces",
              "phoneCard": {
                "callUsCta": "Call",
                "liveLabel": "Live",
                "offlineLabel": "Off line",
                "phoneNumber": "+11111"
              },
              "quickLinkCard": {
                "link": {
                  "hideMap": false,
                  "targetInNewWindow": false,
                  "appType": "external"
                }
              }
            }'></div>
          <!-- end phone ReachUs component -->
        </div>
        <!-- end quick link ReachUs component -->
      </div>
      <!-- end media cards and quick link card wrapper -->


    </div>
    <!-- start wrapper container -->
  </div>

</body>

</html>