<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <title>Promotional Section</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage bg-slate-200" data-page-theme="purple">
    <div class="mb-5" data-component="SingleAppPromotionalBanner" data-props='{
    "title": "For Umrah visit",
    "description": "Nusuk is your app to perform Umrah or Ziyarah with the ability to pre-plan, book, and support your rituals.",
    "link": {
        "text": "nusuk.sa",
        "url": "https://www.nusuk.sa/",
        "icon":"https://www.haj.gov.sa/assets/images/qrcode.png"
    },
    "ctaData": {
        "ctaEventName": "cta event name",
        "pageCategory": "cta event page category",
        "pageSubCategory": "cta event page sub category",
        "sectionName": "cta event section name"
    },
    "stores": [
        {
            "text": "Google Play",
            "icon": "https://www.nusuk.sa/svg/google-play-store-icon.svg",
            "url":"https://play.google.com/store/apps/details?id=com.sejel.eatamrna&hl=en&gl=US" 
        },
        {
            "text": "App Store",
            "icon": "https://www.nusuk.sa/svg/apple-store-icon.svg",
            "url":"https://apps.apple.com/sa/app/%D9%86%D8%B3%D9%83-%D8%A7%D8%B9%D8%AA%D9%85%D8%B1%D9%86%D8%A7-%D8%B3%D8%A7%D8%A8%D9%82%D8%A7/id1532669630"
        },
        {
            "text": "App Gallery",
            "icon": "https://www.nusuk.sa/svg/huawei-app-gallery.svg",
            "url":"https://appgallery.huawei.com/app/C103004637"
        }
    ],
    "image": {
        "fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "mobileImageReference": "https://i.ibb.co/mcXy7Hq/asian-couple-walking-in-the-valley-of-wadi-al-disah-1.png",
        "s7fileReference": "https://i.ibb.co/0VQYcrh/500.png",
        "s7mobileImageReference": "https://i.ibb.co/mcXy7Hq/asian-couple-walking-in-the-valley-of-wadi-al-disah-1.png"
      }
}
'>
    </div>

</body>

</html>