<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Header page</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage" data-page-theme="green">
  <div class="w-96 px-6 py-3">
    <div data-component="SpecialShowWidget" data-props='
      {
        "title": "Special Shows",
        "data": [
        {
          "key": "time",
          "value": "4:00 AM - 12:00 PM"
        },
          {
            "key": "monday",
            "value": "Saudi Aud night"
          },
          {
            "key": "Sunday",
            "value": "Cultural dance"
          }
        ]
      }
      
    '></div>
  </div>

</body>

</html>