<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-component="Typography" data-props='{
        "componentHeading": {
            "heading": {
                "text": "Keep Exploring",
                "weight": "h2",
                "analyticsText":"learn more"
            },
            "link": {
                "targetInNewWindow": false,
                "analyticsDataCopy":"learn more"
            },
            "showUnderline": false,
            "showSlider": false
        },
        "slides": [
            {
                "title": "One Day in Al Ahsa",
                "favoritePath": "/do/arabian-experiences/al-ahsa/one-day-in-al-ahsa",
                "titleWeight": "h3",
                "subtitle": "Land of the palms",
                "subtitleWeight": "h4",
                "description": "id desert plains. Nestled between Riyadh and Dammam, and stretching into the Empty Quarter ",
                "analyticsTitle":"Learn More",
                "link": {
                    "url": "/content/sauditourism/en/do/arabian-experiences/al-ahsa/one-day-in-al-ahsa",
                    "urlWithExtension": "/content/sauditourism/en/do/arabian-experiences/al-ahsa/one-day-in-al-ahsa.html",
                    "urlSlingExporter": "/do/arabian-experiences/al-ahsa/one-day-in-al-ahsa",
                    "copy": "Learn More",
                    "targetInNewWindow": false
                },
                "image": {
                    "fileReference": "/content/dam/saudi-tourism/media/tour-packages/ahsa/760x570/1MV - FINAL.00_00_16_30720.Still005_1440 x 1080.jpg",
                    "mobileImageReference": "/content/dam/saudi-tourism/media/tour-packages/ahsa/760x570/1MV - FINAL.00_00_16_30720.Still005_1440 x 1080.jpg",
                    "alt": "One day in Riyadh",
                    "s7fileReference": "https://scth.scene7.com/is/image/scth/1MV - FINAL.00_00_16_30720.Still005_1440 x 1080-3",
                    "s7mobileImageReference": "https://scth.scene7.com/is/image/scth/1MV - FINAL.00_00_16_30720.Still005_1440 x 1080-3",
                    "desktopImage": "https://qa-perf.visitsaudi.com/content/dam/no-dynamic-media-folder/Jeddah_Balad-at-night-6ar.jpg",
                    "mobileImage": "https://scth.scene7.com/is/image/scth/1MV - FINAL.00_00_16_30720.Still005_1440 x 1080-3:crop-360x480?defaultImage\u003d1MV - FINAL.00_00_16_30720.Still005_1440 x 1080-3"
                },
                "region": "Al Ahsa",
                "dataTracker": {
                    "carouselTitle": "Keep Exploring",
                    "itemNumber": 0,
                    "totalItems": 4
                }
            },
            {
                "title": "Half-day in the Eastern Province",
                "favoritePath": "/do/arabian-experiences/the-eastern-influence-route/half-day-in-the-eastern-province",
                "titleWeight": "h3",
                "subtitle": "The Eastern Influence Route",
                "subtitleWeight": "h4",
                "description": "The Eastern Province of Saudi Arabia holds historical, economic and cultural heft and offers visitors the chance to experience this progressive and ever-adapting region through a variety of interventions. ",
                "link": {
                    "url": "/content/sauditourism/en/do/arabian-experiences/the-eastern-influence-route/half-day-in-the-eastern-province",
                    "urlWithExtension": "/content/sauditourism/en/do/arabian-experiences/the-eastern-influence-route/half-day-in-the-eastern-province.html",
                    "urlSlingExporter": "/do/arabian-experiences/the-eastern-influence-route/half-day-in-the-eastern-province",
                    "copy": "Learn More",
                    "targetInNewWindow": false
                },
                "image": {
                    "fileReference": "/content/dam/saudi-tourism/media/tour-packages/eastern-province/eastern-province-hero2/375x667 Eastern Province hero2.jpg",
                    "mobileImageReference": "/content/dam/saudi-tourism/media/tour-packages/eastern-province/eastern-province-hero2/315x236 Eastern Province hero2_.jpg",
                    "alt": "Half-day in the Eastern Province",
                    "s7fileReference": "https://scth.scene7.com/is/image/scth/375x667 Eastern Province hero2-1",
                    "s7mobileImageReference": "https://scth.scene7.com/is/image/scth/315x236 Eastern Province hero2_-1",
                    "desktopImage": "https://scth.scene7.com/is/image/scth/375x667 Eastern Province hero2-1:crop-360x480?defaultImage\u003d375x667 Eastern Province hero2-1",
                    "mobileImage": "https://scth.scene7.com/is/image/scth/315x236 Eastern Province hero2_-1:crop-360x480?defaultImage\u003d315x236 Eastern Province hero2_-1"
                },
                "region": "Eastern Province",
                "dataTracker": {
                    "carouselTitle": "Keep Exploring",
                    "itemNumber": 1,
                    "totalItems": 4
                }
            },
            {
                "title": "Two Days in Jeddah",
                "favoritePath": "/do/arabian-experiences/journey-to-the-seaside-jewel/two-days-in-jeddah",
                "titleWeight": "h1",
                "subtitle": "Journey to the Seaside Jewel",
                "subtitleWeight": "h1",
                "description": "There is no place like Jeddah. With its own charm, pace and customs – not to mention, the Corniche - this city by the sea has been welcoming people to its shores for centuries and today stands as a true representation of multiculturalism. ",
                "link": {
                    "url": "/content/sauditourism/en/do/arabian-experiences/journey-to-the-seaside-jewel/two-days-in-jeddah",
                    "urlWithExtension": "/content/sauditourism/en/do/arabian-experiences/journey-to-the-seaside-jewel/two-days-in-jeddah.html",
                    "urlSlingExporter": "/do/arabian-experiences/journey-to-the-seaside-jewel/two-days-in-jeddah",
                    "copy": "Learn More",
                    "targetInNewWindow": false
                },
                "image": {
                    "fileReference": "/content/dam/saudi-tourism/media/tour-packages/jeddah/760x570/4Oct_womenlookup_1440 x 1080.jpg",
                    "mobileImageReference": "/content/dam/saudi-tourism/media/tour-packages/jeddah/315x236/4Oct_womenlookup_1440 x 1080_760 x 570.jpg",
                    "alt": "Two days in Jeddah",
                    "s7fileReference": "https://scth.scene7.com/is/image/scth/4Oct_womenlookup_1440 x 1080-2",
                    "s7mobileImageReference": "https://scth.scene7.com/is/image/scth/4Oct_womenlookup_1440 x 1080_760 x 570-1",
                    "desktopImage": "https://scth.scene7.com/is/image/scth/4Oct_womenlookup_1440 x 1080-2:crop-360x480?defaultImage\u003d4Oct_womenlookup_1440 x 1080-2",
                    "mobileImage": "https://scth.scene7.com/is/image/scth/4Oct_womenlookup_1440 x 1080_760 x 570-1:crop-360x480?defaultImage\u003d4Oct_womenlookup_1440 x 1080_760 x 570-1"
                },
                "region": "Jeddah",
                "dataTracker": {
                    "carouselTitle": "Keep Exploring",
                    "itemNumber": 2,
                    "totalItems": 4
                }
            },
            {
                "title": "Two Days in Taif",
                "favoritePath": "/do/arabian-experiences/journey-of-the-mystic-rose/two-days-in-taif",
                "titleWeight": "h1",
                "subtitle": "Journey of the Mystic Rose",
                "subtitleWeight": "h1",
                "description": "Al-Taif’s natural bounty reveals itself through an explosion of fruits and flowers, access to majestic mountains and volcanic formations and an ancient market tradition that dates back hundreds of years, offering a cultural immersion like no other. ",
                "link": {
                    "url": "/content/sauditourism/en/do/arabian-experiences/journey-of-the-mystic-rose/two-days-in-taif",
                    "urlWithExtension": "/content/sauditourism/en/do/arabian-experiences/journey-of-the-mystic-rose/two-days-in-taif.html",
                    "urlSlingExporter": "/do/arabian-experiences/journey-of-the-mystic-rose/two-days-in-taif",
                    "copy": "Learn More",
                    "targetInNewWindow": false
                },
                "image": {
                    "fileReference": "/content/dam/saudi-tourism/media/tour-packages/taif/resized-2-166827 (1).jpg",
                    "mobileImageReference": "/content/dam/saudi-tourism/media/tour-packages/taif/resized-2-166827 (1).jpg",
                    "alt": "Two Days in Taif",
                    "s7fileReference": "https://scth.scene7.com/is/image/scth/resized-2-166827 (1)",
                    "s7mobileImageReference": "https://scth.scene7.com/is/image/scth/resized-2-166827 (1)",
                    "desktopImage": "https://scth.scene7.com/is/image/scth/resized-2-166827 (1):crop-360x480?defaultImage\u003dresized-2-166827 (1)",
                    "mobileImage": "https://scth.scene7.com/is/image/scth/resized-2-166827 (1):crop-360x480?defaultImage\u003dresized-2-166827 (1)"
                },
                "region": "Taif",
                "dataTracker": {
                    "carouselTitle": "Keep Exploring",
                    "itemNumber": 3,
                    "totalItems": 4
                }
            }
        ],
        "size": 4,
        "hideTitle": false,
        "updateFavUrl": "/bin/api/v2/user/update.favorites",
        "deleteFavUrl": "/bin/api/v2/user/delete.favorites",
        "getFavUrl": "/bin/api/v2/user/get.favorites?locale\u003den"
    }'></div>
    
</body>
</html>